<div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body p-0">
            <div class="card bg-secondary border-0 mb-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <label>Lütfen yeme alışkanlıklarınızı yazınız.</label>
                    </div>
                    <form role="form">

                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Varsa gıda alerjinizi
                                yazınız.
                            </label>
                            <input type="text" id="" class="form-control" placeholder="Örneğin: Bulgur">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Günde kaç öğün
                                yersiniz?
                            </label>
                            <input class="form-control" type="number" value="23" id="">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Ana öğün atlar
                                mısınız?
                            </label>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="input-anket-anaogun1" name="input-anket-anaogun"
                                       class="custom-control-input">
                                <label class="custom-control-label" for="input-anket-anaogun1">Evet</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="input-anket-anaogun2" name="input-anket-anaogun"
                                       class="custom-control-input">
                                <label class="custom-control-label" for="input-anket-anaogun2">Bazen</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="input-anket-anaogun3" name="input-anket-anaogun"
                                       class="custom-control-input">
                                <label class="custom-control-label" for="input-anket-anaogun3">Hayır</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Ana öğün atlıyorsanız atlama
                                nedenlerinizden size göre önemli olanları işaretleyiniz.
                            </label>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Zamanım yok
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck12">
                                <label class="custom-control-label" for="customCheck12">
                                    Geç kalıyorum
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck13">
                                <label class="custom-control-label" for="customCheck13">
                                    Alışkanlığım yok
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck14">
                                <label class="custom-control-label" for="customCheck14">
                                    Canım istemiyor/iştahsızım
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck15">
                                <label class="custom-control-label" for="customCheck15">
                                    Kurs,spor vb.faaliyetlerim nedeniyle
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck16">
                                <label class="custom-control-label" for="customCheck16">
                                    Hazırlanmadığı için
                                </label>
                            </div>
                            <label class="form-control-label" for="input-username">
                                Başka bir neden varsa bu
                                alana yazabilirsiniz.
                            </label>
                            <textarea rows="4" class="form-control" placeholder=""></textarea>

                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username"></label>
                                Öğün aralarında yemek yeme
                                alışkanlığınız var mıdır?
                                <div class="input-group">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-anket-aliskanlik1" name="radioOgunArasi"
                                               class="custom-control-input">
                                        <label class="custom-control-label"
                                               for="radio-anket-aliskanlik1">Evet</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-anket-aliskanlik2" name="radioOgunArasi"
                                               class="custom-control-input">
                                        <label class="custom-control-label"
                                               for="radio-anket-aliskanlik2">Hayır</label>
                                    </div>
                                </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Günde ne kadar su
                                tüketirsiniz?
                            </label>
                            <input class="form-control" type="number" value="2" id="">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username"></label>
                                Tatlı veya çikolata yiyor
                                musunuz?

                                <div class="input-group">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-anket-tatli1" name="radioCikolata"
                                               class="custom-control-input">
                                        <label class="custom-control-label"
                                               for="radio-anket-tatli1">Evet</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-anket-tatli2" name="radioCikolata"
                                               class="custom-control-input">
                                        <label class="custom-control-label"
                                               for="radio-anket-tatli2">Hayır</label>
                                    </div>
                                </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Tatlı veya çikolata
                                yiyorsanız ne sıklıkla yiyorsunuz?
                            </label>
                            <input class="form-control" type="text" value="2" id="">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Ne kadar hızlı yemek
                                yiyorsunuz?
                            </label>
                            <input class="form-control" type="text" value="" id="">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Ev dışında toplam yemek yeme
                                sıklığınız nedir?
                            </label>

                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Hergün</option>
                                <option>Haftada 1 kez</option>
                                <option>Haftada 2 kez</option>
                                <option>Haftada 3 kez</option>
                                <option>Haftada 4 kez</option>
                                <option>Haftada 5 kez</option>
                                <option>Haftada 6 kez</option>
                                <option>Ayda 1 kez</option>
                                <option>Ayda 2 kez</option>
                                <option>Ayda 3 kez</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Ev dışında en sık nerede
                                yemek yersiniz?
                            </label>

                            <select class="form-control" id="exampleFormControlSelect21">
                                <option>İş yeri yemekhanesi</option>
                                <option>Lokanta</option>
                                <option>Kebapçı</option>
                                <option>Büfe</option>
                                <option>Fast-Food Restaurant</option>
                                <option>Pastane</option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username"></label>
                                Kola gazoz ve vb. asitleri
                                sıklıkla tüketir misiniz?

                                <div class="input-group">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-anket-asit1" name="radio-anket-asit"
                                               class="custom-control-input">
                                        <label class="custom-control-label" for="radio-anket-asit1">Evet</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-anket-asit2" name="radio-anket-asit"
                                               class="custom-control-input">
                                        <label class="custom-control-label"
                                               for="radio-anket-asit2">Hayır</label>
                                    </div>
                                </div>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary my-4">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>




        </div>

    </div>
</div>