<div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body p-0">
            <div class="card bg-secondary border-0 mb-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <label>Lütfen diyet öyküsü bilgilerini doldurun.</label>
                    </div>
                    <form role="form">

                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Bugüne kadar çıktığınız en
                                yüksek kilo nedir?
                            </label>
                            <input type="text" class="form-control" placeholder="Örneğin: 120">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Profesyonel veya amatör diyet
                                deneyimleriniz varsa yazınız.
                            </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Bu diyet denemeleriniz ile en
                                fazla kaç kilo verebildiniz?
                            </label>
                            <textarea rows="4" class="form-control" placeholder="Örnegin: 7"></textarea>
                        </div>

                        <div class="text-center">
                            <button type="button" class="btn btn-primary my-4">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>




        </div>

    </div>
</div>
