<div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body p-0">
            <div class="card bg-secondary border-0 mb-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <label>Lütfen bilgilerini doldurun.</label>
                    </div>
                    <form role="form">

                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Aktivite Türü</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Uyumak</option>
                                <option>Bilardo</option>
                                <option>Temizlik yapma (hafif)</option>
                                <option>Yemek pişirme</option>
                                <option>Ergometrik egzersiz (50 Vat,az yorucu)</option>
                                <option>Sörf yapma</option>
                                <option>Çocuk bakımı</option>
                                <option>Sörf yapma</option>
                                <option>Masa tenisi oynama</option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Dakika/Gün</label>
                            <input type="text" id="" class="form-control">
                        </div>

                        <div class="text-center">
                            <button type="button" class="btn btn-primary my-4">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>




        </div>

    </div>
</div>
