<div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body p-0">
            <div class="card bg-secondary border-0 mb-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <label>Lütfen öz geçmişinize ait bilgilerini doldurun.</label>
                    </div>
                    <form role="form">

                        <div class="form-group">
                            <label class="form-control-label">
                                Doktor tarafından teşhisi
                                konulmuş herhangi bir hastalığınız var mı?
                            </label>
                            <div class="input-group">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio"
                                           class="custom-control-input">
                                    <label class="custom-control-label">Evet</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio"
                                           class="custom-control-input">
                                    <label class="custom-control-label">Hayır</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">
                                Cevabınız evet ise teşhis
                                edilen hastalığınız hangisi/hangileridir?
                            </label>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" />
                                <label class="custom-control-label">
                                    Kalp-Damar hastalıkları
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" />
                                <label class="custom-control-label">
                                    Şeker hastalığı
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" />
                                <label class="custom-control-label">
                                    Yüksek tansiyon
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"/>
                                <label class="custom-control-label">
                                    Kanser
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"/>
                                <label class="custom-control-label">
                                    Sindirim sistemi hastalıkları
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"/>
                                <label class="custom-control-label">
                                    Ruhsal sorunlar
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"/>
                                <label class="custom-control-label">
                                    Kas iskelet sistemi problemleri
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"/>
                                <label class="custom-control-label">
                                    Endokrin (hormonal) hastalıklar
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <label class="custom-control-label">
                                    Vitamin ve mineral yetersizlikleri(Demir,B12 vitamini yetersizliği vb.)
                                </label>
                            </div>
                            <label class="form-control-label">
                                Başka bir hastalığınız varsa
                                bu
                                alana yazabilirsiniz.
                            </label>
                            <textarea rows="4" class="form-control" placeholder=""></textarea>

                        </div>

                        <div class="text-center">
                            <button type="button" class="btn btn-primary my-4">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>




        </div>

    </div>
</div>