<div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body p-0">
            <div class="card bg-secondary border-0 mb-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <label>Lütfen kişisel ilgi alanlarınızı doldurun.</label>
                    </div>
                    <form role="form">
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Şu anki kilonuzu nasıl tanımlarsınız?
                            </label>
                            <input type="text" class="form-control" placeholder="Örneğin: 4">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Kilonuz günlük aktivitelerinizi nasıl etkiliyor?
                            </label>
                            <input type="text"  class="form-control" placeholder="Örneğin: 4">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Kilonuz sosyal yaşamınızı nasıl etkiliyor?
                            </label>
                            <input type="text"  class="form-control" placeholder="Örneğin: 4">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Neden kilo vermek istiyorsunuz?
                            </label>
                            <input type="text" class="form-control" placeholder="Örneğin: 4">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Kaç kilo vermeyi planlıyorsunuz?
                            </label>
                            <input type="text"  class="form-control" placeholder="Örneğin: 4">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Hedeflediğiniz en düşük kilo nedir
                            </label>
                            <input type="text"  class="form-control" placeholder="Örneğin: 4">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Sağlığınız hakkında en önemli endişeleriniz nelerdir?
                            </label>
                            <input type="text"  class="form-control" placeholder="Örneğin: 4">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Ek bilgi ve notlarınız</label>
                            <textarea rows="4" class="form-control"></textarea>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary my-4">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>




        </div>

    </div>
</div>
