<style>
    .fa-edit:before {
        vertical-align: text-bottom;
    }

    .ni-fat-remove::before {
        font-size: 2rem;
        vertical-align: text-bottom;
    }
</style>

<div class="card-body">
    <div class="row">
        <div class="col-md-9">
            <h6 class="heading-small text-muted mb-4">Besin Alışkanlığı</h6>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="ni ni-fat-remove fa-lg"></i>
            </a>
            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-edit fa-lg"></i>
            </a>
        </div>
    </div>
    <div class="pl-lg-4">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">Gıda Alerjisi</label>
                    <input type="text" id="BesinAliskanlik-GidaAlerjisi" class="form-control"
                           placeholder="Gıda Alerjisi Giriniz" value="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">Öğün Sayısı</label>
                    <input type="text" id="BesinAliskanlik-ogunSayisi" class="form-control"
                           placeholder="Oğun Sayısı Giriniz" value="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Öğün Atlar
                        Mısınız?
                    </label>
                    <input type="text" id="BesinAliskanlik-ogunAtlarMisin" class="form-control"
                           placeholder="Oğun Sayısı Giriniz" value="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">

                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Ana Öğün Atlama
                        Sebebi
                    </label>
                    <input type="text" id="inputBesinAliskanlik-AtlamaSebebi" class="form-control"
                           placeholder="Oğun Sayısı Giriniz" value="">
                </div>

            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Öğün aralarında yemek
                        yeme
                        alışkanlığınız var mıdır?
                    </label>
                    <input type="text" id="inputBesinAliskanlik-ogunArasi" class="form-control"
                           placeholder="Yemek Yeme alışkanlıgınızı girin" value="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Günde ne kadar su
                        tüketirsiniz?
                    </label>
                    <input class="form-control" type="number" value="2" id="inputBesinAliskanlik-suTuketim">
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Tatlı veya çikolata
                        yiyor
                        musunuz?
                    </label>
                    <input class="form-control" type="number" value="" id="inputBesinAliskanlik-tatliYemek">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Tatlı veya çikolata
                        yiyorsanız ne sıklıkla yiyorsunuz?
                    </label>
                    <input class="form-control" type="text" value="" id="inputBesinAliskanlik-tatliSiklik">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Ne kadar hızlı yemek
                        yiyorsunuz?
                    </label>
                    <input class="form-control" type="text" value="" id="inputBesinAliskanlik-YemekHizi">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Ev dışında toplam
                        yemek yeme
                        sıklığınız nedir?
                    </label>
                    <input class="form-control" type="text" value="" id="inputBesinAliskanlik-yemeSikligi">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Ev dışında en sık
                        nerede
                        yemek yersiniz?
                    </label>
                    <input class="form-control" type="text" value="" id="inputBesinAliskanlik-NerdeYersin">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Kola gazoz ve vb.
                        asitleri
                        sıklıkla tüketir misiniz?
                        <input class="form-control" type="text" value="" id="inputBesinAliskanlik-icecekSiklik">
                </div>
            </div>

        </div>
    </div>
</div>

<hr class="my-4" />
