
<div class="card-body">
    <div class="row">
        <div class="col-md-9">
            <h6 class="heading-small text-muted mb-4">Besin Alışkanlığı</h6>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-sm btn-icon-only text-light" id="removeBesinAliskanlik" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="ni ni-fat-remove fa-lg"></i>
            </a>
            <a class="btn btn-sm btn-icon-only text-light" id="editBesinAliskanlik" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-edit fa-lg"></i>
            </a>
        </div>
    </div>
    <div class="pl-lg-4">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">Gıda Alerjisi</label>
                    <input type="text" id="inputBesinAliskanlik-GidaAlerjisi" class="form-control" readonly>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">Öğün Sayısı</label>
                    <input type="text" id="inputBesinAliskanlik-ogunSayisi" class="form-control" readonly>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Öğün Atlar
                        Mısınız?
                    </label>
                    <input type="text" id="inputBesinAliskanlik-ogunAtlarMisin" class="form-control" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">

                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Ana Öğün Atlama
                        Sebebi
                    </label>
                    <input type="text" id="inputBesinAliskanlik-AtlamaSebebi" class="form-control" readonly>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Öğün aralarında yemek
                        yeme
                        alışkanlığınız var mıdır?
                    </label>
                    <input type="text" id="inputBesinAliskanlik-ogunArasi" class="form-control"  readonly>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Günde ne kadar su
                        tüketirsiniz?
                    </label>
                    <input class="form-control" type="text" value="2" id="inputBesinAliskanlik-suTuketim" readonly>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Tatlı veya çikolata
                        yiyor
                        musunuz?
                    </label>
                    <input class="form-control" type="text" value="" id="inputBesinAliskanlik-tatliYemek" readonly>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Tatlı veya çikolata
                        yiyorsanız ne sıklıkla yiyorsunuz?
                    </label>
                    <input class="form-control" type="text" value="" id="inputBesinAliskanlik-tatliSiklik" readonly>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Ne kadar hızlı yemek
                        yiyorsunuz?
                    </label>
                    <input class="form-control" type="text" value="" id="inputBesinAliskanlik-YemekHizi" readonly>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Ev dışında toplam
                        yemek yeme
                        sıklığınız nedir?
                    </label>
                    <input class="form-control" type="text" value="" id="inputBesinAliskanlik-yemeSikligi">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Ev dışında en sık
                        nerede
                        yemek yersiniz?
                    </label>
                    <input class="form-control" type="text" value="" id="inputBesinAliskanlik-NerdeYersin" readonly>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Kola gazoz ve vb.
                        asitleri
                        sıklıkla tüketir misiniz?
                        <input class="form-control" type="text" value="" id="inputBesinAliskanlik-icecekSiklik" readonly>
                </div>
            </div>

        </div>
    </div>
</div>

<hr class="my-4" />

<script>
    $('#removeBesinAliskanlik').click(function (event) {
        $(this).parents(".card-body").remove();
    });


    $('#editBesinAliskanlik').click(function () {
        var url = $('#modal-anket-besinAliskanlik').data('url');

        $.get(url, function (data) {

            $('#modal-anket-besinAliskanlik').html(data);

            $("#BesinAliskanlikModal-GidaAlerjisi").val($('#inputBesinAliskanlik-GidaAlerjisi').val());

            $("#BesinAliskanlikModal-ogunSayisi").val($("#inputBesinAliskanlik-ogunSayisi").val());

            
            $("#inputBesinAliskanlik-ogunAtlarMisin").val() == "Evet" ?
                $("#modalRadioOgunAtlaEvet").prop("checked", true) : $("#inputBesinAliskanlik-ogunAtlarMisin").val() == "Bazen" ?
                    $("#modalRadioOgunAtlaBazen").prop("checked", true) : $("#inputBesinAliskanlik-ogunAtlarMisin").val() == "Hayır" ?
                         $("#modalRadioTatliTuketimHayir").prop("checked", true) :""

            $("#BesinAliskanlikModal-AtlamaSebebi option[value=0]").text($('#inputBesinAliskanlik-AtlamaSebebi').val());

            $("#inputBesinAliskanlik-AtlamaSebebi").val() == "Zamanım Yok" ?
                $("#modalRadioZamanYok").prop("checked", true) : $("#inputBesinAliskanlik-AtlamaSebebi").val() == "Geç kalıyorum" ?
                    $("#modalRadioGecKaliyorum").prop("checked", true) : $("#inputBesinAliskanlik-AtlamaSebebi").val() == "Alışkanlığım yok" ?
                        $("#modalRadioAliskanlikYok").prop("checked", true) : $("#inputBesinAliskanlik-AtlamaSebebi").val() == "Canım istemiyor/iştahsızım" ?
                            $("#modalRadioIstemiyor").prop("checked", true) : $("#inputBesinAliskanlik-AtlamaSebebi").val() == "Kurs,spor vb.faaliyetlerim nedeniyle" ?
                                $("#modalRadioSporDan").prop("checked", true) : $("#inputBesinAliskanlik-AtlamaSebebi").val() == "Hazırlanmadığı için" ?
                                    $("#modalRadioHazirlanmiyor").prop("checked", true) : $("#AtlamaSebebi-AtlamaSebebitextArea").val($("#inputBesinAliskanlik-ogunAtlarMisin").val())

            $("#inputBesinAliskanlik-ogunArasi").val() == "Evet" ?
                $("#modalRadioOgunArasiEvet").prop("checked", true) : $("#modalRadioOgunArasiHayır").prop("checked", true)

            $("#inputBesinAliskanlik-tatliYemek").val() == "Evet" ?
                $("#modalRadioTatliTuketimEvet").prop("checked", true) : $("#modalRadioTatliTuketimHayir").prop("checked", true)

            $("#BesinAliskanlikModal-tatliSiklik").val($("#inputBesinAliskanlik-tatliSiklik").val());

            $("#BesinAliskanlikModal-YemekHizi").val($("#inputBesinAliskanlik-YemekHizi").val());

            $("#BesinAliskanlikModal-yemeSikligi option[value=0]").text($('#inputBesinAliskanlik-yemeSikligi').val());

            $("#BesinAliskanlikModal-NerdeYersin option[value=0]").text($("#inputBesinAliskanlik-NerdeYersin").val());

            $("#inputBesinAliskanlik-icecekSiklik").val() == "Evet" ?
                $("#modalRadioIcecekEvet").prop("checked", true) : $("#modalRadioIcecekHayir").prop("checked", true)


            $('#modal-anket-besinAliskanlik').modal('show');

        });
    });
</script>

