<hr class="my-4" />

<div class="card-body">
    <div class="row">
        <div class="col-md-9">
            <h6 class="heading-small text-muted mb-4">Kişi Bilgileri</h6>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-sm btn-icon-only text-light" id="removeDanisanTemelBilgi" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="ni ni-fat-remove fa-lg"></i>
            </a>
            <a class="btn btn-sm btn-icon-only text-light" id="editDanisanTemelBilgi" href="javascript:void(0)" " role="button" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-edit fa-lg"></i>
            </a>
        </div>
    </div>

    <div class="pl-lg-4">
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">Ad</label>
                    <input type="text" id="danisanBilgiTemel-Ad" autocomplete="off" class="form-control"
                           placeholder="Ad Giriniz  *" value="" readonly>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">Soyad</label>
                    <input type="text" id="danisanBilgiTemel-Soyad" class="form-control"
                           placeholder="Soyad Giriniz  *" value="" readonly>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">Doğum Tarih</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="ni ni-calendar-grid-58"></i>
                            </span>
                        </div>
                        <input class="form-control" id="danisanBilgiTemel-DogTar"
                               type="text" readonly>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">Cinsiyet</label>
                    <input type="text" id="danisanBilgiTemel-Cinsiyet" class="form-control" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Eğitim Durumu</label>
                    <input type="text" id="danisanBilgiTemel-EgitimDurumu" class="form-control" readonly>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Yaş Grubu</label>
                    <input type="text" id="danisanBilgiTemel-YasGrubu" class="form-control" readonly>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">Telefon</label>
                    <input type="text" id="danisanBilgiTemel-Tel" class="form-control" readonly>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">E-Posta</label>
                    <input type="email" id="danisanBilgiTemel-Email" class="form-control" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">TC Kimlik No</label>
                    <input type="text" id="danisanBilgiTemel-TcNo" class="form-control" readonly>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="form-control-label" for="input-city">Şehir</label>
                    <input type="text" id="danisanBilgiTemel-Sehir" class="form-control" readonly>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="form-control-label" for="input-country">İlçe</label>
                    <input type="text" id="danisanBilgiTemel-Ilce" class="form-control" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <div class="form-group">
                    <label class="form-control-label">Adres</label>
                    <textarea rows="4" id="danisanBilgiTemel-Adres" class="form-control" readonly></textarea>
                </div>

            </div>
        </div>
    </div>
</div>

<hr class="my-4" />

<script>
    $('#removeDanisanTemelBilgi').click(function (event) {
        $(this).parents(".card-body").remove();
    });


    $('#editDanisanTemelBilgi').click(function () {
        var url = $('#modal-anket-temelBilgi').data('url');
        $.get(url, function (data) {
            $('#modal-anket-temelBilgi').html(data);

            $("#TemelBilgiModal-Ad").val($('#danisanBilgiTemel-Ad').val());

            $("#TemelBilgiModal-Soyad").val($("#danisanBilgiTemel-Soyad").val());

            $("#TemelBilgiModal-DogTar").val($("#danisanBilgiTemel-DogTar").val());

            $("#danisanBilgiTemel-Cinsiyet").val() == "Erkek" ?
                $("#temelBilgiErkekModal").prop("checked", true) : $("#temelBilgiKadinModal").prop("checked", true)

            $("#TemelBilgiModal-EgitimDur option[value=0]").text($("#danisanBilgiTemel-EgitimDurumu").val());

            $("#TemelBilgiModal-YasGrubu option[value=0]").text($("#danisanBilgiTemel-YasGrubu").val());


            $("#TemelBilgiModal-Tel").val($("#danisanBilgiTemel-Tel").val());

            $("#TemelBilgiModal-Email").val($('#danisanBilgiTemel-Eposta').val());

            $("#TemelBilgiModal-TcNo").val($('#danisanBilgiTemel-TcNo').val());

            $("#TemelBilgiModal-Sehir option[value=0]").text($("#danisanBilgiTemel-Sehir").val());

            $("#TemelBilgiModal-Ilce option[value=0]").text($("#danisanBilgiTemel-Ilce").val());

            $("#TemelBilgiModal-Adres").val($('#danisanBilgiTemel-Adres').val());

            $('#modal-anket-temelBilgi').modal('show');
        });
    });
</script>