<style>
    .fa-edit:before {
        vertical-align: text-bottom;
    }

    .ni-fat-remove::before {
        font-size: 2rem;
        vertical-align: text-bottom;
    }
</style>

<hr class="my-4" />

<div class="card-body">
    <h6 class="heading-small text-muted mb-4">Diyet Öyküsü</h6>
    <div class="pl-lg-4">
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">En yüksek kilo</label>
                    <input type="text" id="DiyetOykusu-enyuksekKilo" class="form-control" placeholder="En Yüksek Kilo   *" value="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">Diyet Deneyimi</label>
                    <input type="text" id="DiyetOykusu-diyetdeneyim" class="form-control" placeholder="Diyet Deneyimi  *" value="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">Verdiğiniz En Yüksek Kilo</label>
                    <input type="text" id="DiyetOykusu-VerilenEnyuksekKilo" class="form-control" placeholder="Verdiğiniz En Yüksek Kilo  *" value="">
                </div>

            </div>

        </div>

    </div>
</div>