<hr class="my-4" />

<div class="card-body">
    <div class="row">
        <div class="col-md-9">
            <h6 class="heading-small text-muted mb-4">Diyet Öyküsü</h6>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-sm btn-icon-only text-light" id="removeDiyetOykusu" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="ni ni-fat-remove fa-lg"></i>
            </a>
            <a class="btn btn-sm btn-icon-only text-light" id="editDiyetOykusu" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-edit fa-lg"></i>
            </a>
        </div>
    </div>
    <div class="pl-lg-4">
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">En yüksek kilo</label>
                    <input type="text" id="DiyetOykusu-enyuksekKilo" class="form-control" readonly>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">Diyet Deneyimi</label>
                    <input type="text" id="DiyetOykusu-diyetDeneyim" class="form-control"readonly >
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">Verdiğiniz En Yüksek Kilo</label>
                    <input type="text" id="DiyetOykusu-VerilenEnyuksekKilo" class="form-control" readonly>
                </div>

            </div>

        </div>

    </div>
</div>

<hr class="my-4" />


<script>
    $('#removeDiyetOykusu').click(function (event) {
        $(this).parents(".card-body").remove();
    });


    $('#editDiyetOykusu').click(function (event) {

        var url = $('#modal-anket-diyetOykusu').data('url');

        $.get(url, function (data) {
            $('#modal-anket-diyetOykusu').html(data);

            $("#DiyetOykusuModal-enyuksekKilo").val($("#DiyetOykusu-enyuksekKilo").val());

            $("#DiyetOykusuModal-diyetDeneyim").val($("#DiyetOykusu-diyetDeneyim").val());

            $("#DiyetOykusuModal-VerilenEnyuksekKilo").val($("#DiyetOykusu-VerilenEnyuksekKilo").val());

            $('#modal-anket-diyetOykusu').modal('show');
        });

    });
</script>