<div class="card-body">
    <div class="row">
        <div class="col-md-9">
            <h6 class="heading-small text-muted mb-4">Egzersiz</h6>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-sm btn-icon-only text-light" id="removeEgzersiz" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="ni ni-fat-remove fa-lg"></i>
            </a>
            <a class="btn btn-sm btn-icon-only text-light" id="editEgzersiz" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-edit fa-lg"></i>
            </a>
        </div>
    </div>

    <div class="pl-lg-4">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">Aktivite Türü</label>
                    <input type="text" id="Egzersiz-AktiviteTur" class="form-control" readonly>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">Dakika/Gün</label>
                    <input type="text" id="Egzersiz-dakkaGun" class="form-control" readonly>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="my-4">


<script>
    $('#removeEgzersiz').click(function (event) {
        $(this).parents(".card-body").remove();
    });


    $('#editEgzersiz').click(function () {
        var url = $('#modal-anket-egzersiz').data('url');

        $.get(url, function (data) {
            $('#modal-anket-egzersiz').html(data);

            $("#EgzersizModal-AktiviteTur option[value=0]").text($('#Egzersiz-AktiviteTur').val());

            $("#EgzersizModal-dakkaGun").val($("#Egzersiz-dakkaGun").val());

            $('#modal-anket-egzersiz').modal('show');
        });
    });
</script>