<div class="card-body">

    <div class="row">
        <div class="col-lg-9">
            <h6 class="heading-small text-muted mb-4">Öz Geçmiş</h6>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-sm btn-icon-only text-light" id="removeGecmis" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="ni ni-fat-remove fa-lg"></i>
            </a>
            <a class="btn btn-sm btn-icon-only text-light" id="editGecmis" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-edit fa-lg"></i>
            </a>
        </div>
    </div>

    <div class="pl-lg-4">
        <div class="row">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-username">
                            Doktor tarafından teşhisi
                            konulmuş herhangi bir hastalığınız var mı ?
                        </label>
                        <input type="text" id="Gecmis-resmiHastalik" class="form-control" readonly>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-username">
                            Cevabınız evet ise teşhis
                            edilen hastalığınız hangisi/hangileridir ?
                        </label>
                        <input type="text" id="Gecmis-resmiHastalikIcerik" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="my-4" />



<script>
    $('#removeGecmis').click(function (event) {
        $(this).parents(".card-body").remove();
    });

    $('#editGecmis').click(function () {
            var url = $('#modal-anket-gecmis').data('url');

            $.get(url, function (data) {
                $('#modal-anket-gecmis').html(data);

                $('#modalmodal-anket-gecmis').html(data);
                
                $('#Gecmis-resmiHastalik').val() == "Evet" ? $("#modalResmiHastalikEvet").prop("checked", true) : $("#modalResmiHastalikHayir").prop("checked", true)

                $("#Gecmis-resmiHastalikIcerik").val() == "Kalp-Damar hastalıkları" ?
                    $("#modalHastalikKalp").prop("checked", true) : $("#Gecmis-resmiHastalikIcerik").val() == "Şeker hastalığı" ?
                        $("#modalHastalikSeker").prop("checked", true) : $("#Gecmis-resmiHastalikIcerik").val() == "Yüksek tansiyon" ?
                            $("#modalHastalikTansiyon").prop("checked", true) : $("#Gecmis-resmiHastalikIcerik").val() == "Kanser" ?
                                $("#modalHastalikKanser").prop("checked", true) : $("#Gecmis-resmiHastalikIcerik").val() == "Sindirim sistemi hastalıkları" ?
                                    $("#modalHastaliksindirim").prop("checked", true) : $("#Gecmis-resmiHastalikIcerik").val() == "Ruhsal sorunlar" ?
                                        $("#modalHastaliksRuhsal").prop("checked", true) : $("#Gecmis-resmiHastalikIcerik").val() == "Kas iskelet sistemi problemleri" ?
                                            $("#modalHastaliksIskelet").prop("checked", true) : $("#Gecmis-resmiHastalikIcerik").val() == "Endokrin (hormonal) hastalıklar" ?
                                                $("#modalHastalikEndokrit").prop("checked", true) : $("#Gecmis-resmiHastalikIcerik").val() == "Vitamin ve mineral yetersizlikleri(Demir,B12 vitamini yetersizliği vb.)" ?
                                                    $("#modalHastalikVitamin").prop("checked", true) :
                                                    $("#gecmisModal-hastalikTextArea").val($("#Gecmis-resmiHastalik").val())

                $('#modal-anket-gecmis').modal('show');
            });
    });

</script>