<div class="card-body">
    <div class="row">
        <div class="col-lg-9">
            <h6 class="heading-small text-muted mb-4">Genel Alışkanlıklar</h6>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-sm btn-icon-only text-light" id="removeGenelAliskanlik" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="ni ni-fat-remove fa-lg"></i>
            </a>
            <a class="btn btn-sm btn-icon-only text-light" id="editGenelAliskanlik" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-edit fa-lg"></i>
            </a>
        </div>
    </div>

    <div class="pl-lg-4">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Sigara kullanıyor
                        musunuz?
                    </label>
                    <input type="text" id="genelAliskanlik-sigaraDurumu" class="form-control" readonly>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Cevabınız evet ise kaç yıldır
                        kullanıyorsunuz?
                    </label>
                    <input type="text" id="genelAliskanlik-sigaraKacYil" class="form-control" readonly>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Sigara içiyorsanız ne
                        sıklıkta ve ortalama haftada kaç adet sigara içiyorsunuz?
                    </label>
                    <input type="text" id="genelAliskanlik-sigaraKacAdet" class="form-control" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Sigarayı bırakmayı denediniz
                        mi?
                    </label>
                    <input type="text" id="genelAliskanlik-birakmaDenediMi" class="form-control" readonly>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Sigarayı bıraktıysanız kaç
                        yıl önce bıraktınız?
                    </label>
                    <input type="text" id="genelAliskanlik-birakmaYili" class="form-control" readonly>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">Alkol alır mısınız?</label>
                    <input type="text" id="genelAliskanlik-alkolVarMi" class="form-control" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Ne sıklıkla alkol
                        alıyorsunuz?
                    </label>
                    <input type="text" class="form-control" id="genelAliskanlik-alkolSiklik" readonly>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Antidepresan kullanıyor
                        musunuz?
                    </label>
                    <input type="text" class="form-control" id="genelAliskanlik-antiDeprasanVarMi" readonly>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">
                        Herhangi bir ilaç
                        bağımlılığınız var mı?
                    </label>
                    <input type="text" class="form-control" id="genelAliskanlik-ilacBagimliligiVarMi" readonly>
                </div>
            </div>
        </div>

    </div>
</div>

<hr class="my-4" />



<script>
    $('#removeGenelAliskanliık').click(function (event) {
        $(this).parents(".card-body").remove();
    });

    $('#editGenelAliskanlik').click(function () {
        var url = $('#modal-anket-genelAliskanlik').data('url');

        $.get(url, function (data) {
            $('#modal-anket-genelAliskanlik').html(data);


            $("#genelAliskanlik-sigaraDurumu").val() == "Evet" ?
                $("#modalSigaraEvet").prop("checked", true) : $("#modalSigaraHayir").prop("checked", true)


            $('#GenelAliskanlikModal-sigaraKacYil').val($("#genelAliskanlik-sigaraKacYil").val());

            $('#GenelAliskanlikModal-sigaraKacAdet').val($("#genelAliskanlik-sigaraKacAdet").val());

            $("#genelAliskanlik-birakmaDenediMi").val() == "Evet" ?
                $("#modalSigaraBirakmaGirisimEvet").prop("checked", true) : $("#modalSigaraBirakmaGirisimHayir").prop("checked", true)

            $('#GenelAliskanlikModal-birakmaYili').val($("#genelAliskanlik-birakmaYili").val());

            $("#genelAliskanlik-alkolVarMi").val() == "Evet" ?
                $("#modalAlkolEvet").prop("checked", true) : $("#modalAlkolHayir").prop("checked", true)

            $('#GenelAliskanlikModal-alkolSiklik').val($("#genelAliskanlik-alkolSiklik").val());

            $("#genelAliskanlik-antiDeprasanVarMi").val() == "Evet" ?
                $("#modalAntiDeprasanEvet").prop("checked", true) : $("#modalAntiDeprasanHayir").prop("checked", true)

            $("#genelAliskanlik-ilacBagimliligiVarMi").val() == "Evet" ?
                $("#modalIlacEvet").prop("checked", true) : $("#modalIlacHayir").prop("checked", true)



            $('#modal-anket-genelAliskanlik').modal('show');
        });
    });
</script>