<div class="card-body">
    <div class="row">
        <div class="col-md-9">
            <h6 class="heading-small text-muted mb-4">Hareket ve Egzersiz</h6>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-sm btn-icon-only text-light" id="removeHareket" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="ni ni-fat-remove fa-lg"></i>
            </a>
            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-edit fa-lg"></i>
            </a>
        </div>
    </div>

    <div class="pl-lg-4">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label">
                        Düzenli olarak fiziksel
                        aktivite/egzersiz/spor yapıyor musunuz?
                    </label>
                    <input type="text" id="Hareket-saporVarMi" class="form-control" readonly>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label">
                        Cevabınız evet ise fiziksel aktivite yapıyorsanız hangi aktiviteyi/aktiviteleri
                        yapıyorsunuz?
                    </label>
                    <input type="text" id="Hareket-sporCesidi" class="form-control" readonly readonly>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">
                        Ne sıklıkta fiziksel aktivite/egzersiz/spor
                        yapıyorsunuz?
                    </label>
                    <input type="text" id="Hareket-sporSiklik" class="form-control" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label">
                        Fiziksel aktivite veya egzersiz yapıyorsanız yapmanızın nedenlerinden size göre
                        önemli olanları :
                    </label>
                    <input type="text" id="Hareket-sporNedeni" class="form-control" readonly>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label">
                        Fiziksel aktivite veya egzersiz yapmıyorsanız yapmamanızın nedenlerinden size
                        göre önemli olanlanı :
                    </label>
                    <input type="text" id="Hareket-nedenOnemi" class="form-control" readonly>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label">
                        Günde kaç saaatiniz
                        bilgisayar başında geçiyor?
                    </label>
                    <input type="text" id="Hareket-kacSaatBilg" class="form-control" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label">
                        Günde kaç saat televizyon
                        izlersiniz?
                    </label>
                    <input type="text" id="Hareket-kacSaatTv" class="form-control" readonly>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="my-4" />


<script>
    $('#removeHareket').click(function (event) {
        $(this).parents(".card-body").remove();
    });
</script>