<div class="card-body">
    <div class="row">
        <div class="col-md-9">
            <h6 class="heading-small text-muted mb-4">Hareket ve Egzersiz</h6>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-sm btn-icon-only text-light" id="removeHareket" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="ni ni-fat-remove fa-lg"></i>
            </a>
            <a class="btn btn-sm btn-icon-only text-light" id="editHareket" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-edit fa-lg"></i>
            </a>
        </div>
    </div>

    <div class="pl-lg-4">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label">
                        Düzenli olarak fiziksel
                        aktivite/egzersiz/spor yapıyor musunuz?
                    </label>
                    <input type="text" id="Hareket-saporVarMi" class="form-control" readonly>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label">
                        Cevabınız evet ise fiziksel aktivite yapıyorsanız hangi aktiviteyi/aktiviteleri
                        yapıyorsunuz?
                    </label>
                    <input type="text" id="Hareket-sporCesidi" class="form-control" readonly readonly>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">
                        Ne sıklıkta fiziksel aktivite/egzersiz/spor
                        yapıyorsunuz?
                    </label>
                    <input type="text" id="Hareket-sporSiklik" class="form-control" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label">
                        Fiziksel aktivite veya egzersiz yapıyorsanız yapmanızın nedenlerinden size göre
                        önemli olanları :
                    </label>
                    <input type="text" id="Hareket-sporNedeni" class="form-control" readonly>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label">
                        Fiziksel aktivite veya egzersiz yapmıyorsanız yapmamanızın nedenlerinden size
                        göre önemli olanlanı :
                    </label>
                    <input type="text" id="Hareket-sporYapmamaNedeni" class="form-control" readonly>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label">
                        Günde kaç saaatiniz
                        bilgisayar başında geçiyor?
                    </label>
                    <input type="text" id="Hareket-kacSaatBilg" class="form-control" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label">
                        Günde kaç saat televizyon
                        izlersiniz?
                    </label>
                    <input type="text" id="Hareket-kacSaatTv" class="form-control" readonly>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="my-4" />


<script>
    $('#removeHareket').click(function (event) {
        $(this).parents(".card-body").remove();
    });

    $('#editHareket').click(function () {
        var url = $('#modal-anket-hareket').data('url');

        $.get(url, function (data) {
            $('#modal-anket-hareket').html(data);


            $("#Hareket-saporVarMi").val() == "Evet" ?
                $("#modalAktiviteEvet").prop("checked", true) : $("#modalAktiviteHayir").prop("checked", true)


            $("#Hareket-sporCesidi").val() == "Yürüyüş" ?
                $("#sporCesidiModalYurus").prop("checked", true) : $("#Hareket-sporCesidi").val() == "Bahçe işleri" ?
                    $("#sporCesidiModalBahceIsleri").prop("checked", true) : $("#Hareket-sporCesidi").val() == "Koşu" ?
                        $("#sporCesidiModalKosu").prop("checked", true) : $("#Hareket-sporCesidi").val() == "Futbol" ?
                            $("#sporCesidiModalFutbol").prop("checked", true) : $("#Hareket-sporCesidi").val() == "Yüzme" ?
                                $("#sporCesidiModalYuzme").prop("checked", true) : $("#Hareket-sporCesidi").val() == "Kondisyon aleti kullanma" ?
                                    $("#sporCesidiModalKondisyon").prop("checked", true) : $("#Hareket-sporCesidi").val($("#sporCesidi-sporCesidiArea").val())


            $("#HareketModal-sporSiklik option[value=0]").text($('#Hareket-sporSiklik').val());


            $("#Hareket-sporNedeni").val() == "Gerginliği azaltmak/rahatlamak için" ?
                $("#sporRahatlamak").prop("checked", true) : $("#Hareket-sporNedeni").val() == "Sağlıklı olmak için" ?
                    $("#sporSAglik").prop("checked", true) : $("#Hareket-sporNedeni").val() == "Diğer insanlarla tanışmak için" ?
                        $("#sporSosyallesmek").prop("checked", true) : $("#Hareket-sporNedeni").val() == "Diğer insanlarla tanışmak için" ?
                            $("#sporEglence").prop("checked", true) : $("#Hareket-sporNedeni").val() == "Eğlence için" ?
                                $("#sporEglence").prop("checked", true) : $("#Hareket-sporNedeni").val() == "Kendimi iyi hissetmek için" ?
                                    $("#sporMutluluk").prop("checked", true) : $("#Hareket-sporNedeni").val() == "Kilo vermek veya kilomu korumak için" ?
                                        $("#sporKilo").prop("checked", true) : $("#Hareket-sporNedeni").val() == "Daha iyi konsantre olmamı sağladığı için" ?
                                            $("#sporKonsantre").prop("checked", true) : $("#Hareket-sporNedeni").val() == "Bilmiyorum" ?
                                                $("#noneSporBilmiyorum1").prop("checked", true) : $("#HareketModal-sporNedeniArea").val($("#Hareket-sporNedeni").val())


            $("#Hareket-nedenYapmamaOnemi").val() == "Zamanım yok" ?
                $("#noneSporZamanYok").prop("checked", true) : $("#Hareket-nedenYapmamaOnemi").val() == "Nasıl başlayacağımı bilmiyorum" ?
                    $("#noneSporBilmiyorum").prop("checked", true) : $("#Hareket-nedenYapmamaOnemi").val() == "Spor yapacak enerjiyi kendimde bulamıyorum" ?
                        $("#noneSporEnerjiYok").prop("checked", true) : $("#Hareket-nedenYapmamaOnemi").val() == "Maddi gücüm yeterli değil" ?
                            $("#noneSporMaddiYetersizlik").prop("checked", true) : $("#Hareket-nedenYapmamaOnemi").val() == "Sağlık problemlerinden dolayı yapamıyorum" ?
                                $("#noneSporSaglikProblemi").prop("checked", true) : $("#Hareket-nedenYapmamaOnemi").val() == "İşlerim çok yoğun" ?
                                    $("#noneSporYogunluk").prop("checked", true) : $("#Hareket-nedenYapmamaOnemi").val() == "Spor yapabileceğim uygun bir yer yok" ?
                                        $("#noneSporYerYok").prop("checked", true) : $("#Hareket-nedenYapmamaOnemi").val() == "Tv izlemeyi veya kitap okumayı tercih ediyorum" ?
                                            $("#noneSporDigerAktvite").prop("checked", true) : $("#Hareket-nedenYapmamaOnemi").val() == "Daha fazla egzersize ihtiyaç duymuyorum" ?
                                                $("#noneSporSporYeter").prop("checked", true) : $("#Hareket-nedenYapmamaOnemi").val() == "Daha fazla egzersize ihtiyaç duymuyorum" ?
                                                    $("#noneSporSporYeter").prop("checked", true) : $("#Hareket-nedenYapmamaOnemi").val() == "Bilmiyorum" ?
                                                        $("#noneSporBilmiyorum2").prop("checked", true) : $("#HareketModal-nedenYapmamaOnemiArea").val($("#Hareket-nedenYapmamaOnemi").val())

            $("#HareketModal-kacSaatBilg").val($("#Hareket-kacSaatBilg").val());

            $("#HareketModal-kacSaatTv").val($("#Hareket-kacSaatTv").val());

            $('#modal-anket-hareket').modal('show');
        });
    });
</script>