<div class="card-body">
    <h6 class="heading-small text-muted mb-4">Hareket ve Egzersiz</h6>
    <div class="pl-lg-4">

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" >
                        Düzenli olarak fiziksel
                        aktivite/egzersiz/spor yapıyor musunuz?
                    </label>
                    <input type="text" id="Hareket-saporVarMi" class="form-control">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" >
                        Cevabınız evet ise fiziksel aktivite yapıyorsanız hangi aktiviteyi/aktiviteleri
                        yapıyorsunuz?
                    </label>
                    <input type="text" id="Hareket-sporCesidi" class="form-control">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">
                        Ne sıklıkta fiziksel aktivite/egzersiz/spor
                        yapıyorsunuz?
                    </label>
                    <input type="text" id="Hareket-sporSiklik" class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" >
                        Fiziksel aktivite veya egzersiz yapıyorsanız yapmanızın nedenlerinden size göre
                        önemli olanları :
                    </label>
                    <input type="text" id="Hareket-sporNedeni" class="form-control">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" >
                        Fiziksel aktivite veya egzersiz yapmıyorsanız yapmamanızın nedenlerinden size
                        göre önemli olanlanı :
                    </label>
                    <input type="text" id="Hareket-nedenOnemi" class="form-control">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label" >
                        Günde kaç saaatiniz
                        bilgisayar başında geçiyor?
                    </label>
                    <input type="text" id="Hareket-kacSaatBilg" class="form-control" placeholder="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label" >
                        Günde kaç saat televizyon
                        izlersiniz?
                    </label>
                    <input type="text" id="Hareket-kacSaatTv" class="form-control" placeholder="Örneğin: 4">
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="my-4" />

