
@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>

    <link href="~/Content/css/argon.css" rel="stylesheet" />
    <link rel="icon" href="~/assets/img/brand/favicon.png" type="image/png">
    <link rel="stylesheet" href="~/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link href="~/assets/vendor/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/argon.css?v=1.2.0" type="text/css">
    <link href="~/Content/css/Shared/_Layout/_Layout.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/css/_Layout/_Layout.css" rel="stylesheet" />
    <style>
        .loader img {
            position: absolute;
            z-index: 100;
            right: 34%;
            bottom: 37%;
            border-radius: 100px;
            height: 36%;
            width: auto;
            background: transparent;
        }
        .loader.none{
            display: none
        }
      
    </style>
</head>



<body class="bg-default">
    <!-- Main content -->
    <div class="main-content">
        <!-- Header -->
        <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
            <div class="container">
                <div class="header-body text-center mb-7">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                            <h1 class="text-white" style="font-size:36px!important">Hoş Geldiniz!</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </div>
        <!-- Page content -->
        <div class="container mt--8 pb-5">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-7">
                    <div class="card bg-secondary border-0 mb-0">
                        <div class="card-header bg-transparent pb-5">
                            <div class="text-muted text-center mt-2 mb-3"><small style="font-size:20px!important">Giriş Yapınız</small></div>

                        </div>
                        <div class="card-body px-lg-5 py-lg-5">
                            @*@if(ViewBag.hata != null)
                                 {
                                <button id="myButton" ></button>
                                 }*@
                            <form role="form">
                                <div class="loader none">
                                    <img src="~/Content/img/Spinner-1s-200px.gif" />
                                </div>
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input class="form-control" id="mail" placeholder="Eposta Giriniz" name="eposta" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input class="form-control" id="sifre" placeholder="Şifre" name="password" type="password">
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="button" id="LoginGiris" class="btn btn-primary my-4">Giriş Yap</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Argon Scripts -->
    <!-- Core -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script src="~/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/js-cookie/js.cookie.js"></script>
    <script src="~/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <!-- Optional JS -->
    <script src="~/assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="~/assets/vendor/chart.js/dist/Chart.extension.js"></script>
    <!-- Argon JS -->
    <script src="~/assets/js/argon.js?v=1.2.0"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/inputmask/jquery.inputmask.min.js"></script>

    <script>
        $('#LoginGiris').click(function () {


            var promise = new Promise(function (resolve, reject) {

                $("#mail").val().trim() == "" ? reject("Lütfen Mail Adresinizi Giriniz") : ""
                $("#sifre").val().trim() == "" ? reject("Lütfen Şifrenizi Adresinizi Giriniz") : ""

                resolve();
            });

            promise.catch(function (err) {
                toastr.error(err);
            })

            promise.then(function (data) {

                girisBilgileri = {
                    eposta: $("#mail").val(),
                    password: $("#sifre").val()
                };

                $.ajax({
                    url: '/Login/Login/',
                    type: 'POST',
                    data: girisBilgileri,
                    dataType: 'json',
                    beforeSend: function () {
                        $(".loader").removeClass("none");
                    },
                    success: function (data) {
                        $(".loader").addClass("none");
                        if (data == "") {
                            toastr.success('Başarıyla Giriş YApıldı Yönlendiriliyorsunuz');
                            setTimeout(function () {
                                window.location = "../Danisan";
                            }, 250)
                        } else {
                            toastr.error(data);

                        }
                    },
                    error: function (hata) {
                        $(".loader").removeClass("none");
                    }

                });
            });

        });
    </script>

</body>

</html>