
@{
    ViewBag.Title = "FinansList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <h3 class="mb-0">Finans Durumu</h3>
                    </div>
                    <!-- Light table -->
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="sort" data-sort="name">Ad/Soyad</th>
                                    <th scope="col">Ödeme Tarihi</th>
                                    <th scope="col">Ödeme Miktarı</th>
                                    <th scope="col">Ödeme Tipi</th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">

                                            <div class="media-body">
                                                <span class="name mb-0 text-sm">Mehmet YILMAZ</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td>
                                        21.10.2020
                                    </td>
                                    <td class="budget">
                                        150 <span style="font-weight:bold">₺</span>
                                    </td>
                                    <td>
                                        <i class="bg-success"></i>
                                        <span class="status">
                                            Nakit
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">

                                            <div class="media-body">
                                                <span class="name mb-0 text-sm">Mehmet YILMAZ</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td>
                                        21.10.2020
                                    </td>
                                    <td class="budget">
                                        150 <span style="font-weight:bold">₺</span>
                                    </td>
                                    <td>
                                        <i class="bg-success"></i>
                                        <span class="status">
                                            Nakit
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">

                                            <div class="media-body">
                                                <span class="name mb-0 text-sm">Mehmet YILMAZ</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td>
                                        21.10.2020
                                    </td>
                                    <td class="budget">
                                        150 <span style="font-weight:bold">₺</span>
                                    </td>
                                    <td>
                                        <i class="bg-success"></i>
                                        <span class="status">
                                            Nakit
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">

                                            <div class="media-body">
                                                <span class="name mb-0 text-sm">Mehmet YILMAZ</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td>
                                        21.10.2020
                                    </td>
                                    <td class="budget">
                                        150 <span style="font-weight:bold">₺</span>
                                    </td>
                                    <td>
                                        <i class="bg-success"></i>
                                        <span class="status">
                                            Nakit
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">

                                            <div class="media-body">
                                                <span class="name mb-0 text-sm">Mehmet YILMAZ</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td>
                                        21.10.2020
                                    </td>
                                    <td class="budget">
                                        150 <span style="font-weight:bold">₺</span>
                                    </td>
                                    <td>
                                        <i class="bg-success"></i>
                                        <span class="status">
                                            Nakit
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





