<div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body p-0">
            <div class="card bg-secondary border-0 mb-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <label>Lütfen gerekli alanlarınızı doldurun.</label>
                    </div>
                    <form role="form">
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Tarih</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                </div>
                                <input class="form-control datepicker" id="AntropometriModal-Tarih" type="date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Ağırlık
                            </label>
                            <input type="number" id="AntropometriModal-Agırlık" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Boy
                            </label>
                            <input type="number" id="AntropometriModal-Boy" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Bel
                            </label>
                            <input type="number" class="form-control" id="AntropometriModal-Bel">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Kalça
                            </label>
                            <input type="number" id="AntropometriModal-Kalca" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Yağ
                            </label>
                            <input type="number" id="AntropometriModal-Yag" class="form-control">
                        </div>

                        <div class="text-right">
                            <button type="button" id="btnAntropometriModalEkle" class="btn btn-primary my-4">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    $('#btnAntropometriModalEkle').click(function () {


        var promise = new Promise(function (resolve, reject) {

            /*Validation*/

            $("#AntropometriModal-Tarih").val().trim() == "" ? reject("Lütfen Tarih Giriniz") : ""

            $("#AntropometriModal-Agırlık").val().trim() == "" ? reject("Lütfen Ağırlığınızı Giriniz") : ""

            $("#AntropometriModal-Boy").val().trim() == "" ? reject("Lütfen Boyunuzu Giriniz") : ""

            $("#AntropometriModal-Bel").val().trim() == "" ? reject("Lütfen Bel Bedeninizi Giriniz") : ""

            $("#AntropometriModal-Kalca").val().trim() == "" ? reject("Lütfen Kalça Bedeninizi Giriniz") : ""

            $("#AntropometriModal-Yag").val().trim() == "" ? reject("Lütfen Yağ Bedeninizi Giriniz") : ""

            /*Validation*/

            resolve();
        });

        promise.catch(function (err) {
            toastr.error(err);
        })

        promise.then(function (data) {
            
            var url = $('#Antropometri').data('url');
            $.get(url, function (data) {
                $('#Antropometri').html(data);

                $("#Antropometri-Tarih").val($("#AntropometriModal-Tarih").val());

                $("#Antropometri-Agırlık").val($("#AntropometriModal-Agırlık").val());

                $("#Antropometri-Boy").val($("#AntropometriModal-Boy").val());

                $("#Antropometri-Bel").val($("#AntropometriModal-Bel").val());

                $("#Antropometri-Kalca").val($("#AntropometriModal-Kalca").val());

                $("#Antropometri-Yag").val($("#AntropometriModal-Yag").val());

                BMIhesapla();

                $('#modal-anket-antropometri').modal('hide');
            });

        });

    });
</script>
<script>
    function BMIhesapla() {

        BMIgonder = {
            boy: $("#AntropometriModal-Boy").val(),
            kilo: $("#AntropometriModal-Agırlık").val(),
        };

        $.ajax({
            url: '/PartialDanisan/BMIHesapla/',
            type: 'POST',
            data: BMIgonder,
            dataType: 'json',
            beforeSend: function () {
              
            },
            success: function (data) {
                
                $("#Antropometri-BMI").val(data.index); 
            },
            error: function (hata, ajaxOptions, thrownError) {
                console.log("BMI Error")
            }
        });

    }
</script>