<div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body p-0">
            <div class="card bg-secondary border-0 mb-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <label>Lütfen yeme alışkanlıklarınızı yazınız.</label>
                    </div>
                    <form role="form">

                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Varsa gıda alerjinizi
                                yazınız.
                            </label>
                            <input type="text" id="BesinAliskanlikModal-GidaAlerjisi" class="form-control" placeholder="Örneğin: Bulgur">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Günde kaç öğün
                                yersiniz?
                            </label>
                            <input class="form-control" type="number" value="23" id="BesinAliskanlikModal-ogunSayisi">
                        </div>
                        <div class="form-group" id="modal-ogunAtlarMisin">
                            <label class="form-control-label" for="input-username">
                                Ana öğün atlar
                                mısınız?
                            </label>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="input-anket-anaogun1" name="input-anket-anaogun"
                                       class="custom-control-input BesinAliskanlikModal-ogunAtlarMisin" value="Evet">
                                <label class="custom-control-label" for="input-anket-anaogun1">Evet</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="input-anket-anaogun2" name="input-anket-anaogun"
                                       class="custom-control-input BesinAliskanlikModal-ogunAtlarMisin" value="Bazen">
                                <label class="custom-control-label" for="input-anket-anaogun2">Bazen</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="input-anket-anaogun3" name="input-anket-anaogun"
                                       class="custom-control-input BesinAliskanlikModal-ogunAtlarMisin" value="Hayır">
                                <label class="custom-control-label" for="input-anket-anaogun3">Hayır</label>
                            </div>
                        </div>
                        <div class="form-group" id="modal-AtlamaSebebi">
                            <label class="form-control-label" for="input-username">
                                Ana öğün atlıyorsanız atlama
                                nedenlerinizden size göre önemli olanları işaretleyiniz.
                            </label>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input BesinAliskanlikModal-AtlamaSebebi" 
                                       id="customCheck1" value="Zamanım Yok">
                                <label class="custom-control-label" for="customCheck1">
                                    Zamanım yok
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input BesinAliskanlikModal-AtlamaSebebi" id="customCheck12" value="Geç kalıyorum">
                                <label class="custom-control-label" for="customCheck12">
                                    Geç kalıyorum
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input BesinAliskanlikModal-AtlamaSebebi" id="customCheck13" value="Alışkanlığım yok">
                                <label class="custom-control-label" for="customCheck13">
                                    Alışkanlığım yok
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input BesinAliskanlikModal-AtlamaSebebi" id="customCheck14" value="Canım istemiyor/iştahsızım">
                                <label class="custom-control-label" for="customCheck14">
                                    Canım istemiyor/iştahsızım
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input BesinAliskanlikModal-AtlamaSebebi" id="customCheck15" value="Kurs,spor vb.faaliyetlerim nedeniyle">
                                <label class="custom-control-label" for="customCheck15">
                                    Kurs,spor vb.faaliyetlerim nedeniyle
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input BesinAliskanlikModal-AtlamaSebebi" id="customCheck16" value="Hazırlanmadığı için">
                                <label class="custom-control-label" for="customCheck16">
                                    Hazırlanmadığı için
                                </label>
                            </div>
                            <label class="form-control-label" for="input-username">
                                Başka bir neden varsa bu
                                alana yazabilirsiniz.
                            </label>
                            <textarea rows="4" id="BesinAliskanlikModal-textArea" class="form-control" placeholder=""></textarea>

                        </div>
                        <div class="form-group" id="modal-ogunArasi">
                            <label class="form-control-label" for="input-username"></label>
                            Öğün aralarında yemek yeme
                            alışkanlığınız var mıdır?
                            <div class="input-group">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="radio-anket-aliskanlik1" name="radioOgunArasi"
                                           class="custom-control-input BesinAliskanlikModal-ogunArasi" value="Evet">
                                    <label class="custom-control-label"
                                           for="radio-anket-aliskanlik1">Evet</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="radio-anket-aliskanlik2" name="radioOgunArasi"
                                           class="custom-control-input BesinAliskanlikModal-ogunArasi" value="Hayır">
                                    <label class="custom-control-label"
                                           for="radio-anket-aliskanlik2">Hayır</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Günde ne kadar su
                                tüketirsiniz?
                            </label>
                            <input class="form-control" type="number" value="2" id="BesinAliskanlikModal-suTuketim">
                        </div>
                        <div class="form-group" id="modal-tatliYemek">
                            <label class="form-control-label" for="input-username"></label>
                            Tatlı veya çikolata yiyor
                            musunuz?
                            <div class="input-group">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="radio-anket-tatli1" name="radioCikolata"
                                           class="custom-control-input BesinAliskanlikModal-tatliYemek" value="Evet">
                                    <label class="custom-control-label"
                                           for="radio-anket-tatli1">Evet</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="radio-anket-tatli2" name="radioCikolata"
                                           class="custom-control-input BesinAliskanlikModal-tatliYemek" value="Hayır">
                                    <label class="custom-control-label"
                                           for="radio-anket-tatli2">Hayır</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Tatlı veya çikolata
                                yiyorsanız ne sıklıkla yiyorsunuz?
                            </label>
                            <input class="form-control" type="text" value="" id="BesinAliskanlikModal-tatliSiklik">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Ne kadar hızlı yemek
                                yiyorsunuz?
                            </label>
                            <input class="form-control" type="text" value="" id="BesinAliskanlikModal-YemekHizi">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Ev dışında toplam yemek yeme
                                sıklığınız nedir?
                            </label>

                            <select class="form-control" id="BesinAliskanlikModal-yemeSikligi">
                                <option value="0">Seçim Yapın</option>
                                <option value="1">Hergün</option>
                                <option value="2">Haftada 1 kez</option>
                                <option value="3">Haftada 2 kez</option>
                                <option value="4">Haftada 3 kez</option>
                                <option value="5">Haftada 4 kez</option>
                                <option value="6">Haftada 5 kez</option>
                                <option value="7">Haftada 6 kez</option>
                                <option value="8">Ayda 1 kez</option>
                                <option value="9">Ayda 2 kez</option>
                                <option value="10">Ayda 3 kez</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Ev dışında en sık nerede
                                yemek yersiniz?
                            </label>

                            <select class="form-control" id="BesinAliskanlikModal-NerdeYersin">
                                <option value="0">Seçim Yapın</option>
                                <option value="1">İş yeri yemekhanesi</option>
                                <option value="2">Lokanta</option>
                                <option value="3">Kebapçı</option>
                                <option value="4">Büfe</option>
                                <option value="5">Fast-Food Restaurant</option>
                                <option value="6">Pastane</option>

                            </select>
                        </div>
                        <div class="form-group" id="icecekSiklikModal">
                            <label class="form-control-label" for="input-username"></label>
                            Kola gazoz ve vb. asitleri
                            sıklıkla tüketir misiniz?

                            <div class="input-group">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="radio-anket-asit1" name="radio-anket-asit"
                                           class="custom-control-input BesinAliskanlikModal-icecekSiklik" value="Evet">
                                    <label class="custom-control-label" for="radio-anket-asit1">Evet</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="radio-anket-asit2" name="radio-anket-asit"
                                           class="custom-control-input BesinAliskanlikModal-icecekSiklik" value="Hayır">
                                    <label class="custom-control-label"
                                           for="radio-anket-asit2">Hayır</label>
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="button" id="btnBesinAliskanlikModalEkle" class="btn btn-primary my-4">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    var r = jQuery.Deferred();
    $('#btnBesinAliskanlikModalEkle').click(function () {

        var promise = new Promise(function (resolve, reject) {

            var url = $('#besinAliskanligi').data('url');
            $.get(url, function (data) {
                $('#kisiBilgisi').html(data);
                debugger;
                $("#BesinAliskanlik-GidaAlerjisi").val($("#BesinAliskanlikModal-GidaAlerjisi").val());

                if ($("#BesinAliskanlikModal-ogunSayisi").val().trim() == "") {
                    toastr.error("Lütfen Lütfen Öğün Sayınızı Girniz Griniz"); return false;
                }
                $("#BesinAliskanlik-ogunSayisi").val($("#BesinAliskanlikModal-ogunSayisi").val());


                if ($("#modal-ogunAtlarMisin input[type='radio']:checked").val() == undefined) {
                    toastr.error("Lütfen Öğün Atlama Durumunuzu Griniz"); return false;
                }
                $("#BesinAliskanlik-ogunAtlarMisin").val($("#modal-ogunAtlarMisin input[type='radio']:checked").val());


                //if ($('.BesinAliskanlikModal-AtlamaSebebi input[type="radio":checked]').val() == undefined) {
                //    if ($("#BesinAliskanlikModal-textArea").val().trim == "") {
                //        toastr.error("Lütfen Öğün Atlama Sebebinizi Giriniz"); return false;
                //    }
                //    $("#inputBesinAliskanlik-AtlamaSebebi").val($("#BesinAliskanlikModal-textArea").val());
                //}
                //else {
                //    $("#modal-AtlamaSebebi input[type='radio']:checked").val($("#modal-AtlamaSebebi input[type='radio']:checked").val());
                //}

                if ($("#modal-ogunArasi input[type='radio']:checked").val() == undefined) {
                    toastr.error("Lütfen Öğün Arası Yeme Alışkanlığınızı Giriniz"); return false;
                }
                $("#inputBesinAliskanlik-ogunArasi").val($("#modal-ogunArasi input[type='radio']:checked").val());

                if ($("#BesinAliskanlikModal-suTuketim").val().trim == "") {
                    toastr.error("Lütfen Su Tüketim Miktarınızı Giriniz"); return false;
                }
                $("#inputBesinAliskanlik-suTuketim").val($("#BesinAliskanlikModal-suTuketim").val());

                if ($("#modal-tatliYemek input[type='radio']:checked").val() == undefined) {
                    toastr.error("Lütfen Tatlı Yeme Durumunuzu Giriniz"); return false;
                }
                $("#inputBesinAliskanlik-tatliYemek").val($("#modal-tatliYemek input[type='radio']:checked").val());

                if ($("#BesinAliskanlikModal-tatliSiklik").val().trim() == "") {
                    toastr.error("Lütfen Tatlı Yeme Sıklığınızı Seçiniz"); return false;
                }
                $("#inputBesinAliskanlik-tatliSiklik").val($("#BesinAliskanlikModal-tatliSiklik").val())

                if ($("#BesinAliskanlikModal-YemekHizi").val().trim() == "") {
                    toastr.error("Lütfen Yemek Yeme Hızınızı Giriniz"); return false;
                }
                $("#inputBesinAliskanlik-YemekHizi").val($("#BesinAliskanlikModal-YemekHizi").val())


                if ($("#BesinAliskanlikModal-yemeSikligi option:selected").val() == "0") {
                    toastr.error("Lütfen Dışarda Yemek Yeme Sıklığınızı Giriniz"); return false;
                }
                $("#inputBesinAliskanlik-yemeSikligi").val($("#BesinAliskanlikModal-yemeSikligi option:selected").text());

                if ($("#BesinAliskanlikModal-NerdeYersin option:selected").val() == "0") {
                    toastr.error("Lütfen Dışarda En Sık Nerde Yediğinizi Giriniz"); return false;
                }
                $("#inputBesinAliskanlik-NerdeYersin").val($("#BesinAliskanlikModal-NerdeYersin option:selected").text());

                if ($("#icecekSiklikModal input[type='radio']:checked").val() == undefined) {
                    toastr.error("Lütfen İçecek İçme Sıklığınızı Giriniz"); return false;
                }
                $("#inputBesinAliskanlik-icecekSiklik").val($("#icecekSiklikModal input[type='radio']:checked").val());

                $('#modal-anket-besinAliskanlik').modal('hide');
            });

            resolve();
        });
        promise.catch(function (err) {
            toastr.error(err);
        })
        promise.then(function (data) {
            //ajax post istegi
        });

    });
</script>









