<div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body p-0">
            <div class="card bg-secondary border-0 mb-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <label>Lütfen yeme alışkanlıklarınızı yazınız.</label>
                    </div>
                    <form role="form">

                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Varsa gıda alerjinizi
                                yazınız.
                            </label>
                            <input type="text" id="BesinAliskanlikModal-GidaAlerjisi" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Günde kaç öğün
                                yersiniz?
                            </label>
                            <input class="form-control" type="text" value="23" id="BesinAliskanlikModal-ogunSayisi">
                        </div>
                        <div class="form-group" id="BesinAliskanlikModal-ogunAtlarMisin">
                            <label class="form-control-label" for="input-username">
                                Ana öğün atlar
                                mısınız?
                            </label>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="modalRadioOgunAtlaEvet" name="input-anket-anaogun"
                                       class="custom-control-input" value="Evet">
                                <label class="custom-control-label" for="modalRadioOgunAtlaEvet">Evet</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="modalRadioOgunAtlaBazen" name="input-anket-anaogun"
                                       class="custom-control-input" value="Bazen">
                                <label class="custom-control-label" for="modalRadioOgunAtlaBazen">Bazen</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="modalRadioOgunAtlaHayir" name="input-anket-anaogun"
                                       class="custom-control-input" value="Hayır">
                                <label class="custom-control-label" for="modalRadioOgunAtlaHayir">Hayır</label>
                            </div>
                        </div>
                        <div class="form-group" id="BesinAliskanlikModal-AtlamaSebebi">
                            <label class="form-control-label" for="input-username">
                                Ana öğün atlıyorsanız atlama
                                nedenlerinizden size göre önemli olanları işaretleyiniz.
                            </label>
                            <div class="custom-control custom-radio">
                                <input name="modlaOgunAtlarMisinName" type="radio" class="custom-control-input"
                                       id="modalRadioZamanYok" value="Zamanım Yok">
                                <label class="custom-control-label" for="modalRadioZamanYok">
                                    Zamanım yok
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input name="modlaOgunAtlarMisinName" type="radio" class="custom-control-input" id="modalRadioGecKaliyorum" value="Geç kalıyorum">
                                <label class="custom-control-label" for="modalRadioGecKaliyorum">
                                    Geç kalıyorum
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input name="modlaOgunAtlarMisinName" type="radio" class="custom-control-input" id="modalRadioAliskanlikYok" value="Alışkanlığım yok">
                                <label class="custom-control-label" for="modalRadioAliskanlikYok">
                                    Alışkanlığım yok
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input name="modlaOgunAtlarMisinName" type="radio" class="custom-control-input" id="modalRadioIstemiyor" value="Canım istemiyor/iştahsızım">
                                <label class="custom-control-label" for="modalRadioIstemiyor">
                                    Canım istemiyor/iştahsızım
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input name="modlaOgunAtlarMisinName" type="radio" class="custom-control-input" id="modalRadioSporDan" value="Kurs,spor vb.faaliyetlerim nedeniyle">
                                <label class="custom-control-label" for="modalRadioSporDan">
                                    Kurs,spor vb.faaliyetlerim nedeniyle
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input name="modlaOgunAtlarMisinName" type="radio" class="custom-control-input" id="modalRadioHazirlanmiyor" value="Hazırlanmadığı için">
                                <label class="custom-control-label" for="modalRadioHazirlanmiyor">
                                    Hazırlanmadığı için
                                </label>
                            </div>
                            <label class="form-control-label" for="input-username">
                                Başka bir neden varsa bu
                                alana yazabilirsiniz.
                            </label>
                            <textarea rows="4" id="BesinAliskanlikModal-AtlamaSebebitextArea" class="form-control" placeholder=""></textarea>

                        </div>
                        <div class="form-group" id="BesinAliskanlikModal-ogunArasi">
                            <label class="form-control-label" for="input-username"></label>
                            Öğün aralarında yemek yeme
                            alışkanlığınız var mıdır?
                            <div class="input-group">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="modalRadioOgunArasiEvet" name="radioOgunArasi"
                                           class="custom-control-input" value="Evet">
                                    <label class="custom-control-label"
                                           for="modalRadioOgunArasiEvet">Evet</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="modalRadioOgunArasiHayır" name="radioOgunArasi"
                                           class="custom-control-input" value="Hayır">
                                    <label class="custom-control-label"
                                           for="modalRadioOgunArasiHayır">Hayır</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Günde ne kadar su
                                tüketirsiniz?
                            </label>
                            <input class="form-control" type="text" value="2" id="BesinAliskanlikModal-suTuketim">
                        </div>
                        <div class="form-group" id="BesinAliskanlikModal-tatliYemek">
                            <label class="form-control-label" for="input-username"></label>
                            Tatlı veya çikolata yiyor
                            musunuz?
                            <div class="input-group">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="modalRadioTatliTuketimEvet" name="radioCikolata"
                                           class="custom-control-input " value="Evet">
                                    <label class="custom-control-label"
                                           for="modalRadioTatliTuketimEvet">Evet</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="modalRadioTatliTuketimHayir" name="radioCikolata"
                                           class="custom-control-input" value="Hayır">
                                    <label class="custom-control-label"
                                           for="modalRadioTatliTuketimHayir">Hayır</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Tatlı veya çikolata
                                yiyorsanız ne sıklıkla yiyorsunuz?
                            </label>
                            <input class="form-control" type="text" value="" id="BesinAliskanlikModal-tatliSiklik">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Ne kadar hızlı yemek
                                yiyorsunuz?
                            </label>
                            <input class="form-control" type="text" value="" id="BesinAliskanlikModal-YemekHizi">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Ev dışında toplam yemek yeme
                                sıklığınız nedir?
                            </label>

                            <select class="form-control" id="BesinAliskanlikModal-yemeSikligi">
                                <option value="0">Seçim Yapın</option>
                                <option value="1">Hergün</option>
                                <option value="2">Haftada 1 kez</option>
                                <option value="3">Haftada 2 kez</option>
                                <option value="4">Haftada 3 kez</option>
                                <option value="5">Haftada 4 kez</option>
                                <option value="6">Haftada 5 kez</option>
                                <option value="7">Haftada 6 kez</option>
                                <option value="8">Ayda 1 kez</option>
                                <option value="9">Ayda 2 kez</option>
                                <option value="10">Ayda 3 kez</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Ev dışında en sık nerede
                                yemek yersiniz?
                            </label>

                            <select class="form-control" id="BesinAliskanlikModal-NerdeYersin">
                                <option value="0">Seçim Yapın</option>
                                <option value="1">İş yeri yemekhanesi</option>
                                <option value="2">Lokanta</option>
                                <option value="3">Kebapçı</option>
                                <option value="4">Büfe</option>
                                <option value="5">Fast-Food Restaurant</option>
                                <option value="6">Pastane</option>

                            </select>
                        </div>
                        <div class="form-group" id="BesinAliskanlikModal-icecekSiklik">
                            <label class="form-control-label" for="input-username"></label>
                            Kola gazoz ve vb. asitleri
                            sıklıkla tüketir misiniz?

                            <div class="input-group">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="modalRadioIcecekEvet" name="radio-anket-asit"
                                           class="custom-control-input" value="Evet">
                                    <label class="custom-control-label" for="modalRadioIcecekEvet">Evet</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="modalRadioIcecekHayir" name="radio-anket-asit"
                                           class="custom-control-input" value="Hayır">
                                    <label class="custom-control-label"
                                           for="modalRadioIcecekHayir">Hayır</label>
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="button" id="btnBesinAliskanlikModalEkle" class="btn btn-primary my-4">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>







<script>
    $('#btnBesinAliskanlikModalEkle').click(function () {


        var promise = new Promise(function (resolve, reject) {

            $("#BesinAliskanlikModal-GidaAlerjisi").val().trim() == "" ? reject("Lütfen Gıda Alerjisi Durumunuzu Giriniz") : ""

            $("#BesinAliskanlikModal-ogunSayisi").val().trim() == "" ? reject("Lütfen Öğün Sayınızı Giriniz") : ""

            $("#BesinAliskanlikModal-ogunAtlarMisin input[type='radio']:checked").val() == "" ? reject("Lütfen Öğün Atlama Durumunuzu giriniz") : ""


            $("#BesinAliskanlikModal-ogunAtlarMisin input[type='radio']:checked").val() == "Evet" ?
                ($("#BesinAliskanlikModal-AtlamaSebebi input[type='radio']:checked").val() == undefined ?
                    ($("#BesinAliskanlikModal-AtlamaSebebitextArea").val().trim() == "" ?
                        reject("Lütfen Öğün Atlama Sebebi Giriniz") : "") : "") :
                $("#BesinAliskanlikModal-ogunAtlarMisin input[type='radio']:checked").val() == undefined ?
                    reject("Lütfen Öğün Atlama/Atlamama Durumunu Giriniz") : ""

            $("#BesinAliskanlikModal-ogunArasi input[type='radio']:checked").val() == "" ? reject("Lütfen Öğün Sayınızı Giriniz") : ""

            $("#BesinAliskanlikModal-suTuketim").val().trim() == "" ? reject("Lütfen Öğün Sayınızı Giriniz") : ""

            $("#BesinAliskanlikModal-tatliYemek input[type='radio']:checked").val() == "Evet" ?
                $("#BesinAliskanlikModal-tatliSiklik").val().trim() == "" ?
                    reject("Lütfen Tatlı Yeme Sıklığını giriniz") : "" :
                $("#BesinAliskanlikModal-tatliYemek input[type='radio']:checked").val() == undefined ?
                    reject("Lütfen Tatlı Yeme Durumunuzu Giriniz") : ""

            $("#BesinAliskanlikModal-YemekHizi").val() == "" ? reject("Lütfen Yemek Yeme Hızınızı Giriniz") : ""

            $("#BesinAliskanlikModal-yemeSikligi option:selected").val() == "0" ? reject("Lütfen Dışarıda Yemek Yeme Sıklığınızı Giriniz") : ""

            $("#BesinAliskanlikModal-NerdeYersin option:selected").val() == "0" ? reject("Lütfen Dışarıda En Sık Nerde Yediğinizi Giriniz") : ""

            $("#BesinAliskanlikModal-icecekSiklik input[type='radio']:checked").val() == undefined ? reject("Lütfen Asitli İçecek İçme Sıklığınızı Giriniz") : ""


            resolve();
        });

        promise.catch(function (err) {
            toastr.error(err);
        })

        promise.then(function (data) {

            var url = $('#besinAliskanligi').data('url');
            $.get(url, function (data) {
                $('#besinAliskanligi').html(data);

                $("#inputBesinAliskanlik-GidaAlerjisi").val($('#BesinAliskanlikModal-GidaAlerjisi').val());

                $("#inputBesinAliskanlik-ogunSayisi").val($('#BesinAliskanlikModal-ogunSayisi').val());

                $("#inputBesinAliskanlik-ogunAtlarMisin").val($('#BesinAliskanlikModal-ogunAtlarMisin input[type="radio"]:checked').val());

                $("#inputBesinAliskanlik-AtlamaSebebi").val($('#BesinAliskanlikModal-AtlamaSebebi input[type="radio"]:checked').val() == undefined ? $('#BesinAliskanlikModal-AtlamaSebebitextArea').val() : $('#BesinAliskanlikModal-AtlamaSebebi input[type="radio"]:checked').val());

                $("#inputBesinAliskanlik-ogunArasi").val($("#BesinAliskanlikModal-ogunArasi input[type='radio']:checked").val());

                $("#inputBesinAliskanlik-suTuketim").val($('#BesinAliskanlikModal-suTuketim').val());

                $("#inputBesinAliskanlik-tatliYemek").val($('#BesinAliskanlikModal-tatliYemek input[type="radio"]:checked').val());

                $("#inputBesinAliskanlik-tatliSiklik").val($('#BesinAliskanlikModal-tatliSiklik').val());

                $("#inputBesinAliskanlik-YemekHizi").val($('#BesinAliskanlikModal-YemekHizi').val());

                $("#inputBesinAliskanlik-yemeSikligi").val($('#BesinAliskanlikModal-yemeSikligi option:selected').text());

                $("#inputBesinAliskanlik-NerdeYersin").val($('#BesinAliskanlikModal-NerdeYersin option:selected').text());

                $("#inputBesinAliskanlik-icecekSiklik").val($('#BesinAliskanlikModal-icecekSiklik input[type="radio"]:checked').val());


                $('#modal-anket-besinAliskanlik').modal('hide');

                
            });

        });

    });
</script>