<div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body p-0">
            <div class="card bg-secondary border-0 mb-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <label>Lütfen diyet öyküsü bilgilerini doldurun.</label>
                    </div>
                    <form role="form">

                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Bugüne kadar çıktığınız en
                                yüksek kilo nedir?
                            </label>
                            <input type="text" class="form-control" id="DiyetOykusuModal-enyuksekKilo" placeholder="Kilo Giriniz  *">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Profesyonel veya amatör diyet
                                deneyimleriniz varsa yazınız.
                            </label>
                            <input type="text" id="DiyetOykusuModal-diyetDeneyim" class="form-control" placeholder="Diyet Deneyimi Giriniz  *">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Bu diyet denemeleriniz ile en
                                fazla kaç kilo verebildiniz?
                            </label>
                            <input type="text" class="form-control" id="DiyetOykusuModal-VerilenEnyuksekKilo" placeholder=" Kilo Giriniz  *">
                        </div>

                        <div class="text-right">
                            <button type="button" id="DiyetOykusuModalEkle" class="btn btn-primary my-4">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#DiyetOykusuModalEkle').click(function () {

        var url = $('#diyetOykusu').data('url');
        $.get(url, function (data) {
            $('#diyetOykusu').html(data);

            if ($("#DiyetOykusuModal-enyuksekKilo").val().trim() == "") {
                toastr.error('Lütfen  en yüksek kilonuzu Giriniz'); return false;
            }
            $("#DiyetOykusu-enyuksekKilo").val($("#DiyetOykusuModal-enyuksekKilo").val());

            if ($("#DiyetOykusuModal-diyetDeneyim").val().trim() == "") {
                toastr.error("Lütfen Diyet Deneyiminizi Giriniz"); return false;
            }
            $("#DiyetOykusu-diyetdeneyim").val($("#DiyetOykusuModal-diyetDeneyim").val());

            if ($("#DiyetOykusuModal-VerilenEnyuksekKilo").val().trim() == "") {
                toastr.error("Lütfen Verilen En Yüksek Kiloyu Giriniz giriniz"); return false;
            }
            $("#DiyetOykusu-VerilenEnyuksekKilo").val($("#DiyetOykusuModal-VerilenEnyuksekKilo").val());


            $('#modal-anket-diyetOykusu').modal('hide');
        });
    });
</script>
