<div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body p-0">
            <div class="card bg-secondary border-0 mb-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <label>Lütfen diyet öyküsü bilgilerini doldurun.</label>
                    </div>
                    <form role="form">

                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Bugüne kadar çıktığınız en
                                yüksek kilo nedir?
                            </label>
                            <input type="number" class="form-control" id="DiyetOykusuModal-enyuksekKilo" placeholder="Kilo Giriniz  *">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Profesyonel veya amatör diyet
                                deneyimleriniz varsa yazınız.
                            </label>
                            <input type="text" id="DiyetOykusuModal-diyetDeneyim" class="form-control" placeholder="Diyet Deneyimi Giriniz  *">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Bu diyet denemeleriniz ile en
                                fazla kaç kilo verebildiniz?
                            </label>
                            <input type="text" class="form-control" id="DiyetOykusuModal-VerilenEnyuksekKilo" placeholder=" Kilo Giriniz  *">
                        </div>

                        <div class="text-right">
                            <button type="button" id="DiyetOykusuModalEkle" class="btn btn-primary my-4">Ekle</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>






<script>
    $('#DiyetOykusuModalEkle').click(function () {


        var promise = new Promise(function (resolve, reject) {

            $("#DiyetOykusuModal-enyuksekKilo").val().trim() == "" ? reject("Lütfen En Yüksek Kilonuzu Giriniz") : ""

            $("#DiyetOykusuModal-diyetDeneyim").val().trim() == "" ? reject("Lütfen Diyenit Deneyiminizi Giriniz") : ""

            $("#DiyetOykusuModal-VerilenEnyuksekKilo").val().trim() == "" ? reject("Lütfen Verilen En Yüksek Kiloyu giriniz") : ""

            resolve();
        });

        promise.catch(function (err) {
            toastr.error(err);
        })

        promise.then(function (data) {

            var url = $('#diyetOykusu').data('url');
            $.get(url, function (data) {
                $('#diyetOykusu').html(data);

                $("#DiyetOykusu-enyuksekKilo").val($('#DiyetOykusuModal-enyuksekKilo').val());

                $("#DiyetOykusu-diyetDeneyim").val($("#DiyetOykusuModal-diyetDeneyim").val());

                $("#DiyetOykusu-VerilenEnyuksekKilo").val($("#DiyetOykusuModal-VerilenEnyuksekKilo").val());

                $('#modal-anket-diyetOykusu').modal('hide');
            });

        });

    });
</script>