<div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body p-0">
            <div class="card bg-secondary border-0 mb-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <label>Lütfen bilgilerini doldurun.</label>
                    </div>
                    <form role="form">

                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Aktivite Türü</label>
                            <select class="form-control" id="EgzersizModal-AktiviteTur">
                                <option value="0">Seçim Yapın</option>
                                <option value="1">Uyumak</option>
                                <option value="2">Bilardo</option>
                                <option value="3">Temizlik yapma (hafif)</option>
                                <option value="4">Yemek pişirme</option>
                                <option value="5">Ergometrik egzersiz (50 Vat,az yorucu)</option>
                                <option value="6">Sörf yapma</option>
                                <option value="7">Çocuk bakımı</option>
                                <option value="8">Sörf yapma</option>
                                <option value="9">Masa tenisi oynama</option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Dakika/Gün</label>
                            <input type="text" id="EgzersizModal-dakkaGun" class="form-control">
                        </div>

                        <div class="text-center">
                            <button type="button" id="btnEgzersizEkle" class="btn btn-primary my-4">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    $('#btnEgzersizEkle').click(function () {


        var promise = new Promise(function (resolve, reject) {

            /*Validation*/
        
            $("#EgzersizModal-AktiviteTur option:selected").val() == "0" ? reject("Lütfeen Aktivite Türü Seçin"): ""

            $("#EgzersizModal-dakkaGun").val().trim() == "" ? reject("Lütfeen Dakika/Gün Seçin"): ""


            /*Validation*/

            resolve();
        });

        promise.catch(function (err) {
            toastr.error(err);
        })

        promise.then(function (data) {

            var url = $('#Egzersiz').data('url');
            $.get(url, function (data) {
                $('#Egzersiz').html(data);

                $("#Egzersiz-AktiviteTur").val($('#EgzersizModal-AktiviteTur option:selected').text());

                $("#Egzersiz-dakkaGun").val($("#EgzersizModal-dakkaGun").val());

                $('#modal-anket-egzersiz').modal('hide');
            });

        });

    });
</script>