<div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body p-0">
            <div class="card bg-secondary border-0 mb-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <label>Lütfen gerekli alanlarınızı doldurun.</label>
                    </div>
                    <form role="form">
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Tarih</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                </div>
                                <input class="form-control datepicker" id="FinansModal-tarih" type="date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Ücret
                            </label>
                            <input type="number" id="FinansModal-ucret" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Ödendi
                            </label>
                            <input type="number" id="FinansModal-odendi" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Yorum</label>
                            <textarea rows="4" id="FinansModal-yorum" class="form-control"></textarea>
                        </div>
                        <div class="text-right">
                            <button type="button" id="FinansModalEkle" class="btn btn-primary my-4">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $('#FinansModalEkle').click(function () {


        var promise = new Promise(function (resolve, reject) {

            /*Validation*/

            $("#FinansModal-tarih").val() == "" ? reject("Lütfen Tarih Giriniz") : ""
            $("#FinansModal-ucret").val().trim() == "" ? reject("Lütfen Ücret Girin") : ""
            $("#FinansModal-odendi").val().trim() == "" ? reject("Lütfen Ödenme Bilgisini Girin") : ""
            $("#FinansModal-yorum").val().trim() == "" ? reject("Lütfen Yorum Girin") : ""

            /*Validation*/

            resolve();
        });

        promise.catch(function (err) {
            toastr.error(err);
        })

        promise.then(function (data) {

            $('#FinansModalEkle').click(function () {
                var url = $('#Finans').data('url');
                $.get(url, function (data) {
                    $('#Finans').html(data);

                    $("#Finans-Tarhi").val($("#FinansModal-tarih").val());

                    $("#Finans-ucret").val($("#FinansModal-ucret").val());

                    $("#Finans-odendi").val($("#FinansModal-odendi").val());

                    $("#Finans-yorum").val($("#FinansModal-yorum").val());

                    $('#modal-anket-finans').modal('hide');
                });
            });

        });

    });
</script>