<div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body p-0">
            <div class="card bg-secondary border-0 mb-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <label>Lütfen alışkanlıklarınızı doldurun.</label>
                    </div>
                    <form role="form">
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Sigara kullanıyor
                                musunuz?
                            </label>
                            <div class="input-group">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="sigara" name="radioSigara"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="sigara">Evet</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="sigara2" name="radioSigara"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="sigara2">Hayır</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Cevabınız evet ise kaç yıldır
                                kullanıyorsunuz?
                            </label>
                            <input type="number" id="" class="form-control" placeholder="Örneğin: 10">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Sigara içiyorsanız ne
                                sıklıkta ve ortalama haftada kaç adet sigara içiyorsunuz?
                            </label>
                            <input type="number" id="" class="form-control" placeholder="Örneğin: 70">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Sigarayı bıraktıysanız kaç
                                yıl önce bıraktınız?
                            </label>
                            <input type="text" id="" class="form-control" placeholder="Örneğin: 1">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Sigarayı bırakmayı denediniz
                                mi?
                            </label>
                            <div class="input-group">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="sigaraBirak" name="radioSigaraBirak"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="sigaraBirak">Evet</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="sigaraBirak2" name="radioSigaraBirak"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="sigaraBirak2">Hayır</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Alkol alır mısınız?</label>
                            <div class="input-group">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="alkol" name="radioalkol"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="alkol">Evet</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="alkol2" name="radioalkol"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="alkol2">Hayır</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Ne sıklıkla alkol
                                alıyorsunuz?
                            </label>
                            <input type="text" id="" class="form-control" placeholder="Örneğin: 1">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Antidepresan kullanıyor
                                musunuz?
                            </label>
                            <div class="input-group">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="depresan" name="radiodepresan"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="depresan">Evet</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="depresan2" name="radiodepresan"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="depresan2">Hayır</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Herhangi bir ilaç
                                bağımlılığınız var mı?
                            </label>
                            <div class="input-group">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="ilac" name="radioilac" class="custom-control-input">
                                    <label class="custom-control-label" for="ilac">Evet</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="ilac2" name="radioilac"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="ilac2">Hayır</label>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="button" class="btn btn-primary my-4">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>




        </div>

    </div>
</div>

