<div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body p-0">
            <div class="card bg-secondary border-0 mb-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <label>Lütfen hareket ve egzersiz alışkanlıklarınızı doldurun.</label>
                    </div>
                    <form role="form">

                        <div class="form-group" id="HareketModal-saporVarMi">
                            <label class="form-control-label" for="input-username">
                                Düzenli olarak fiziksel
                                aktivite/egzersiz/spor yapıyor musunuz?
                            </label>
                            <div class="input-group">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="modalAktiviteEvet" name="radioAktivite" value="Evet"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="modalAktiviteEvet">Evet</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="modalAktiviteHayir" name="radioAktivite" value="Hayır"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="modalAktiviteHayir">Hayır</label>
                                </div>
                            </div>
                        </div>


                        <div class="form-group" id="HareketModal-sporCesidi">
                            <label class="form-control-label" for="input-username">
                                Cevabınız evet ise fiziksel aktivite yapıyorsanız hangi aktiviteyi/aktiviteleri
                                yapıyorsunuz?
                            </label>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="radioSporCesidi" id="sporCesidiModalYurus" value="Yürüyüş">
                                <label class="custom-control-label" for="sporCesidiModalYurus">
                                    Yürüyüş
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="radioSporCesidi" id="sporCesidiModalBahceIsleri" value="Bahçe işleri">
                                <label class="custom-control-label" for="sporCesidiModalBahceIsleri">
                                    Bahçe işleri
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="radioSporCesidi" id="sporCesidiModalKosu" value="Koşu">
                                <label class="custom-control-label" for="sporCesidiModalKosu">
                                    Koşu
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="radioSporCesidi" id="sporCesidiModalFutbol" value="Futbol">
                                <label class="custom-control-label" for="sporCesidiModalFutbol">
                                    Futbol
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="radioSporCesidi" id="sporCesidiModalYuzme" value="Yüzme">
                                <label class="custom-control-label" for="sporCesidiModalYuzme">
                                    Yüzme
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="radioSporCesidi" id="sporCesidiModalKondisyon" value="Kondisyon aleti kullanma">
                                <label class="custom-control-label" for="sporCesidiModalKondisyon">
                                    Kondisyon aleti kullanma
                                </label>
                            </div>
                            <label class="form-control-label">
                                Başka bir aktiviteniz varsa bu alana yazabilirsiniz.
                            </label>
                            <textarea rows="4" class="form-control" id="sporCesidi-sporCesidiArea"></textarea>

                        </div>

                        <div class="form-group" id="HareketModal-sporNedeni">
                            <label class="form-control-label" for="input-username">
                                Fiziksel aktivite veya egzersiz yapıyorsanız yapmanızın nedenlerinden size göre
                                önemli olanları işaretleyiniz.
                            </label>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="modalEgzersiz" id="sporRahatlamak" value="Gerginliği azaltmak/rahatlamak için">
                                <label class="custom-control-label" for="sporRahatlamak">
                                    Gerginliği azaltmak/rahatlamak için
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="modalEgzersiz" id="sporSAglik" value="Sağlıklı olmak için">
                                <label class="custom-control-label" for="sporSAglik">
                                    Sağlıklı olmak için
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="modalEgzersiz" id="sporSosyallesmek" value="Diğer insanlarla tanışmak için">
                                <label class="custom-control-label" for="sporSosyallesmek">
                                    Diğer insanlarla tanışmak için
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="modalEgzersiz" id="sporEglence" value="Eğlence için">
                                <label class="custom-control-label" for="sporEglence">
                                    Eğlence için
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="modalEgzersiz" id="sporMutluluk" value="Kendimi iyi hissetmek için">
                                <label class="custom-control-label" for="sporMutluluk">
                                    Kendimi iyi hissetmek için
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="modalEgzersiz" id="sporKilo" value="Kilo vermek veya kilomu korumak için">
                                <label class="custom-control-label" for="sporKilo">
                                    Kilo vermek veya kilomu korumak için
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="modalEgzersiz" id="sporKonsantre" value="Daha iyi konsantre olmamı sağladığı için">
                                <label class="custom-control-label" for="sporKonsantre">
                                    Daha iyi konsantre olmamı sağladığı için
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="modalEgzersiz" id="sporBilmiyorum" value="Bilmiyorum">
                                <label class="custom-control-label" for="sporBilmiyorum">
                                    Bilmiyorum
                                </label>
                            </div>
                            <label class="form-control-label" for="input-username">
                                Başka bir nedeniniz varsa bu alana yazabilirsiniz.
                            </label>
                            <textarea rows="4" class="form-control" id="HareketModal-sporNedeniArea"></textarea>

                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">
                                Ne sıklıkta fiziksel aktivite/egzersiz/spor yapıyorsunuz?
                            </label>
                            <select class="form-control" id="HareketModal-sporSiklik">
                                <option value="0">Seçim Yapın</option>
                                <option value="1">Hergün</option>
                                <option value="2">Haftada 3-4 gün</option>
                                <option value="3">Haftada 2-3 gün</option>
                                <option value="4">Haftada 1-2 gün</option>
                                <option value="5">15 günde bir</option>
                            </select>
                        </div>

                        <div class="form-group" id="HareketModal-nedenYapmamaOnemi">
                            <label class="form-control-label" for="input-username">
                                Fiziksel aktivite veya egzersiz yapmıyorsanız yapmamanızın nedenlerinden size
                                göre önemli olanları işaretleyiniz.
                            </label>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="modalNoneSpornedenOnemi" id="noneSporZamanYok" value="Zamanım yok">
                                <label class="custom-control-label" for="noneSporZamanYok">
                                    Zamanım yok
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="modalNoneSpornedenOnemi" id="noneSporBilmiyorum1" value="Nasıl başlayacağımı bilmiyorum">
                                <label class="custom-control-label" for="noneSporBilmiyorum1">
                                    Nasıl başlayacağımı bilmiyorum
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="modalNoneSpornedenOnemi" id="noneSporEnerjiYok" value="Spor yapacak enerjiyi kendimde bulamıyorum">
                                <label class="custom-control-label" for="noneSporEnerjiYok">
                                    Spor yapacak enerjiyi kendimde bulamıyorum
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="modalNoneSpornedenOnemi" id="noneSporMaddiYetersizlik" value="Maddi gücüm yeterli değil">
                                <label class="custom-control-label" for="noneSporMaddiYetersizlik">
                                    Maddi gücüm yeterli değil
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="modalNoneSpornedenOnemi" id="noneSporSaglikProblemi" value="Sağlık problemlerinden dolayı yapamıyorum">
                                <label class="custom-control-label" for="noneSporSaglikProblemi">
                                    Sağlık problemlerinden dolayı yapamıyorum
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="modalNoneSpornedenOnemi" id="noneSporYogunluk" value="İşlerim çok yoğun">
                                <label class="custom-control-label" for="noneSporYogunluk">
                                    İşlerim çok yoğun
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="modalNoneSpornedenOnemi" id="noneSporYerYok" value="Spor yapabileceğim uygun bir yer yok">
                                <label class="custom-control-label" for="noneSporYerYok">
                                    Spor yapabileceğim uygun bir yer yok
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="modalNoneSpornedenOnemi" id="noneSporDigerAktvite" value="Tv izlemeyi veya kitap okumayı tercih ediyorum">
                                <label class="custom-control-label" for="noneSporDigerAktvite">
                                    Tv izlemeyi veya kitap okumayı tercih ediyorum
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="modalNoneSpornedenOnemi" id="noneSporSporYeter" value="Daha fazla egzersize ihtiyaç duymuyorum">
                                <label class="custom-control-label" for="noneSporSporYeter">
                                    Daha fazla egzersize ihtiyaç duymuyorum
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="modalNoneSpornedenOnemi" id="noneSporBilmiyorum2" value="Bilmiyorum">
                                <label class="custom-control-label" for="noneSporBilmiyorum2">
                                    Bilmiyorum
                                </label>
                            </div>
                            <label class="form-control-label" for="input-username">
                                Başka bir nedeniniz varsa bu alana yazabilirsiniz.
                            </label>
                            <textarea rows="4" class="form-control" id="HareketModal-nedenYapmamaOnemiArea"></textarea>

                        </div>

                        <div class="form-group">
                            <label class="form-control-label">
                                Günde kaç saaatiniz
                                bilgisayar başında geçiyor?
                            </label>
                            <input type="text" id="HareketModal-kacSaatBilg" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">
                                Günde kaç saat televizyon
                                izlersiniz?
                            </label>
                            <input type="text" id="HareketModal-kacSaatTv" class="form-control">
                        </div>

                        <div class="text-right">
                            <button type="button" id="btnHareketModalEkle" class="btn btn-primary my-4">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>




        </div>

    </div>
</div>



<script>
    $('#btnHareketModalEkle').click(function () {


        var promise = new Promise(function (resolve, reject) {

            /*Validation*/
            if ($('#HareketModal-saporVarMi input[type="radio"]:checked').val() == "Evet") {
                if ($('#HareketModal-sporCesidi input[type="radio"]:checked ').val() == undefined) {
                    if ($("#sporCesidi-sporCesidiArea").val() == "") {
                        reject("Lütfen Yaptığınız Sporun Çeşitini Giriniz");
                    }
                }

                if ($('#HareketModal-sporNedeni input[type="radio"]:checked ').val() == undefined) {
                    if ($("#HareketModal-sporNedeniArea").val() == "") {
                        reject("Lütfen Yaptığınız Sporun Nedenini Giriniz");
                    }
                }

                if ($('#HareketModal-sporSiklik option:selected').val() == "0") {
                    reject("Lütfen Spor Yapma Sıklığınızı Durumunuzu Giriniz");
                }

            }
            else if ($('#HareketModal-saporVarMi input[type="radio"]:checked').val() == "Hayır") {
                if ($('#HareketModal-nedenYapmamaOnemi input[type="radio"]:checked ').val() == undefined) {
                    if ($("#HareketModal-nedenYapmamaOnemiArea").val() == "") {
                        reject("Lütfen  Spor Yapmamanın Nedenin En Önemlisini Giriniz");
                    }
                }
            }
            else if ($('#HareketModal-saporVarMi input[type="radio"]:checked').val() == undefined) {
                reject("Lütfen Spor Yapma  Durumunu Giriniz");
            }

            if ($("#HareketModal-kacSaatBilg").val() == "") {
                reject("Lütfen Kaç Saat Bilgisayar Başında olduğunuzu Giriniz");
            }

            if ($("#HareketModal-kacSaatTv").val() == "") {
                reject("Lütfen Kaç Saat Televizyon Başında olduğunuzu Giriniz");
            }

            /*Validation*/

            resolve();
        });

        promise.catch(function (err) {
            toastr.error(err);
        })

        promise.then(function (data) {

            var url = $('#hareket').data('url');
            $.get(url, function (data) {
                $('#hareket').html(data);

                $("#Hareket-saporVarMi").val($('#HareketModal-saporVarMi input[type="radio"]:checked').val()); 

                $("#Hareket-sporCesidi").val($('#HareketModal-sporCesidi input[type="radio"]:checked').val() != undefined ? $('#HareketModal-sporCesidi input[type="radio"]:checked').val() : $('#HareketModal-sporCesidiArea').val());

                $("#Hareket-sporNedeni").val($('#HareketModal-sporNedeni input[type="radio"]:checked').val() != undefined ? $('#HareketModal-sporNedeni input[type="radio"]:checked').val() : $('#HareketModal-sporNedeniArea').val());

                $("#Hareket-sporSiklik").val($('#HareketModal-sporSiklik option:selected').text());

                $("#Hareket-sporYapmamaNedeni").val($('#HareketModal-nedenYapmamaOnemi input[type="radio"]:checked').val() != undefined ? $('#HareketModal-nedenYapmamaOnemi input[type="radio"]:checked').val() : $('#HareketModal-nedenYapmamaOnemiArea').val());

                $("#Hareket-kacSaatBilg").val($("#HareketModal-kacSaatBilg").val());

                $("#Hareket-kacSaatTv").val($("#HareketModal-kacSaatTv").val());


                $('#modal-anket-hareket').modal('hide');
            });

        });

    });
</script>

<script>
    $("#HareketModal-nedenYapmamaOnemi").change(function () {
        $('#HareketModal-saporVarMi input[type="radio"]').prop("checked", false);
        $('#HareketModal-sporNedeni input[type="radio"]:checked').val() != undefined ? $('#HareketModal-sporNedeni input[type="radio"]').prop("checked", false) : $("#HareketModal-sporNedeniArea").val("")
        $('#HareketModal-sporCesidi input[type="radio"]:checked').val() != undefined ? $('#HareketModal-sporCesidi input[type="radio"]').prop("checked", false) : $("#sporCesidi-sporCesidiArea").val("")
    });
    $("#HareketModal-nedenYapmamaOnemiArea").change(function () {
        $('#HareketModal-saporVarMi input[type="radio"]').prop("checked", false);
        $('#HareketModal-sporNedeni input[type="radio"]:checked').val() != undefined ? $('#HareketModal-sporNedeni input[type="radio"]').prop("checked", false) : $("#HareketModal-sporNedeniArea").val("")
        $('#HareketModal-sporCesidi input[type="radio"]:checked').val() != undefined ? $('#HareketModal-sporCesidi input[type="radio"]').prop("checked", false) : $("#sporCesidi-sporCesidiArea").val("")
    });
</script>