<div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body p-0">
            <div class="card bg-secondary border-0 mb-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <label>Lütfen hareket ve egzersiz alışkanlıklarınızı doldurun.</label>
                    </div>
                    <form role="form">

                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Düzenli olarak fiziksel
                                aktivite/egzersiz/spor yapıyor musunuz?
                            </label>
                            <div class="input-group">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="aktive" name="radioaktive"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="aktive">Evet</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="aktive2" name="radioaktive"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="aktive2">Hayır</label>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Cevabınız evet ise fiziksel aktivite yapıyorsanız hangi aktiviteyi/aktiviteleri
                                yapıyorsunuz?
                            </label>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Yürüyüş
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Bahçe işleri
                                </label>
                            </div>


                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Koşu
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Futbol
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Yüzme
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Kondisyon aleti kullanma
                                </label>
                            </div>
                            <label class="form-control-label" for="input-username">
                                Başka bir aktiviteniz varsa
                                bu
                                alana yazabilirsiniz.
                            </label>
                            <textarea rows="4" class="form-control" placeholder=""></textarea>

                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">
                                Ne sıklıkta fiziksel aktivite/egzersiz/spor
                                yapıyorsunuz?
                            </label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Hergün</option>
                                <option>Haftada 3-4 gün</option>
                                <option>Haftada 2-3 gün</option>
                                <option>Haftada 1-2 gün</option>
                                <option>15 günde bir</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Fiziksel aktivite veya egzersiz yapıyorsanız yapmanızın nedenlerinden size göre
                                önemli olanları işaretleyiniz.
                            </label>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Gerginliği azaltmak/rahatlamak için
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Sağlıklı olmak için
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Diğer insanlarla tanışmak için
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Eğlence için
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Kendimi iyi hissetmek için
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Kilo vermek veya kilomu korumak için
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Daha iyi konsantre olmamı sağladığı için
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Bilmiyorum
                                </label>
                            </div>

                            <label class="form-control-label" for="input-username">
                                Başka bir nedeniniz varsa
                                bu
                                alana yazabilirsiniz.
                            </label>
                            <textarea rows="4" class="form-control" placeholder=""></textarea>

                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Fiziksel aktivite veya egzersiz yapmıyorsanız yapmamanızın nedenlerinden size
                                göre önemli olanları işaretleyiniz.
                            </label>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Zamanım yok
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Nasıl başlayacağımı bilmiyorum
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Spor yapacak enerjiyi kendimde bulamıyorum
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Maddi gücüm yeterli değil
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Sağlık problemlerinden dolayı yapamıyorum
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    İşlerim çok yoğun
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Spor yapabileceğim uygun bir yer yok
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Tv izlemeyi veya kitap okumayı tercih ediyorum
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Daha fazla egzersize ihtiyaç duymuyorum
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Bilmiyorum
                                </label>
                            </div>
                            <label class="form-control-label" for="input-username">
                                Başka bir nedeniniz varsa
                                bu
                                alana yazabilirsiniz.
                            </label>
                            <textarea rows="4" class="form-control" placeholder=""></textarea>

                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Günde kaç saaatiniz
                                bilgisayar başında geçiyor?
                            </label>
                            <input type="number" id="" class="form-control" placeholder="Örneğin: 6">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Günde kaç saat televizyon
                                izlersiniz?
                            </label>
                            <input type="number" id="" class="form-control" placeholder="Örneğin: 4">
                        </div>


                        <div class="text-center">
                            <button type="button" class="btn btn-primary my-4">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>




        </div>

    </div>
</div>