<div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body p-0">
            <div class="card bg-secondary border-0 mb-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <label>Lütfen kişisel ilgi alanlarınızı doldurun.</label>
                    </div>
                    <form role="form">
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Şu anki kilonuzu nasıl tanımlarsınız?
                            </label>
                            <input type="text" class="form-control" id="KisiselModal-SuankKiloTanimla">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Kilonuz günlük aktivitelerinizi nasıl etkiliyor?
                            </label>
                            <input type="text" class="form-control" id="KisiselModal-kiloAktiviteEtkileme">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Kilonuz sosyal yaşamınızı nasıl etkiliyor?
                            </label>
                            <input type="text" class="form-control" id="KisiselModal-kiloSosyyalHayatEtki">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Neden kilo vermek istiyorsunuz?
                            </label>
                            <input type="text" class="form-control" id="KisiselModal-nedenKiloVermek">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Kaç kilo vermeyi planlıyorsunuz?
                            </label>
                            <input type="text" class="form-control" id="KisiselModal-kacKiloVermek">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Hedeflediğiniz en düşük kilo nedir
                            </label>
                            <input type="text" class="form-control" id="KisiselModal-hedefKilo">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Sağlığınız hakkında en önemli endişeleriniz nelerdir?
                            </label>
                            <input type="text" class="form-control" id="KisiselModal-saglıkEndisesi">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Ek bilgi ve notlarınız</label>
                            <textarea rows="4" class="form-control" id="KisiselModal-EkBilgi"></textarea>
                        </div>
                        <div class="text-right">
                            <button type="button" id="btnKisiselModalEkle" class="btn btn-primary my-4">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    $('#btnKisiselModalEkle').click(function () {


        var promise = new Promise(function (resolve, reject) {

            /*Validation*/

            $("#KisiselModal-SuankKiloTanimla").val().trim() == "" ? reject("Lütfen  Şuan ki kilo Durumunuzu Giriniz") : ""

            $("#KisiselModal-kiloAktiviteEtkileme").val().trim() == "" ? reject("Lütfen Günlük Aktivitenizi Etkileme Durumunuzu Giriniz") : ""

            $("#KisiselModal-kiloSosyyalHayatEtki").val().trim() == "" ? reject("Lütfen  Kilonuzun Günlük Hayata Etkisini tanımlamanızı Giriniz") : ""

            $("#KisiselModal-nedenKiloVermek").val().trim() == "" ? reject("Lütfen  Kilo vermek isteme Durumunuzu Giriniz") : ""

            $("#KisiselModal-kacKiloVermek").val().trim() == "" ? reject("Lütfen Kaç Kilo Verme Durumunuzu Giriniz") : ""

            $("#KisiselModal-hedefKilo").val().trim() == "" ? reject("Lütfen Hedef kilo Verme Durumunuzu Giriniz") : ""

            $("#KisiselModal-saglıkEndisesi").val().trim() == "" ? reject("Lütfen Sağlık Endişesi Durumunuzu Giriniz") : ""

            /*Validation*/

            resolve();
        });

        promise.catch(function (err) {
            toastr.error(err);
        })

        promise.then(function (data) {

            var url = $('#Kisisel').data('url');
            $.get(url, function (data) {
                $('#Kisisel').html(data);

                $("#Kisisel-SuankKiloTanimla").val($("#KisiselModal-SuankKiloTanimla").val());

                $("#Kisisel-kiloAktiviteEtkileme").val($("#KisiselModal-kiloAktiviteEtkileme").val());

                $("#Kisisel-kiloSosyyalHayatEtki").val($("#KisiselModal-kiloSosyyalHayatEtki").val());

                $("#Kisisel-nedenKiloVermek").val($("#KisiselModal-nedenKiloVermek").val());

                $("#Kisisel-kacKiloVermek").val($("#KisiselModal-kacKiloVermek").val());

                $("#Kisisel-hedefKilo").val($("#KisiselModal-hedefKilo").val());

                $("#Kisisel-saglıkEndisesi").val($("#KisiselModal-saglıkEndisesi").val());

                $("#Kisisel-EkBilgi").val($("#KisiselModal-EkBilgi").val());

                $('#modal-anket-kisisel').modal('hide');
            });

        });

    });
</script>