<div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body p-0">
            <div class="card bg-secondary border-0 mb-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <label>Lütfen gerekli alanlarınızı doldurun.</label>
                    </div>
                    <form role="form">

                        <div class="form-group">
                            <label class="form-control-label" for="input-username">
                                Lütfen seçiminizi yapınız.
                            </label>
                            <select class="form-control" id="selectPlanSec">
                                <option value="Seciniz">Seçiniz</option>
                                <option value="selectPlanSec_HazirPlan">Hazır plan kullanmak istiyorum</option>
                                <option value="selectPlanSec_KendiPlan">
                                    Kendi planımı kullanmak istiyorum
                                </option>
                                <option value="selectPlanSec_YeniPlan">
                                    Yeni bir plan oluşturmak istiyorum
                                </option>

                            </select>
                        </div>

                        <div style="display: none;" id="hazirPlanDiv">
                            <div class="form-group">
                                <label class="form-control-label" for="input-username">
                                    Hazır planlardan seçim yapmalısınız.
                                </label>
                                <select class="form-control" id="selectHazirPlanSec">
                                    <option value="Seciniz">Seçiniz</option>
                                    <option value="">Çocuk adolesan:Çocuk 3-6 yaş</option>
                                    <option value="">
                                        Çocuk adolesan:Çocuk 4-5 yaş
                                    </option>
                                    <option value="">
                                        Çocuk adolesan:Çocuk 6-10 yaş
                                    </option>

                                </select>
                            </div>
                        </div>


                        <div style="display:none" id="kapa">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Plan ismi
                                </label>
                                <input type="number" id="" class="form-control" placeholder="Örneğin: 4">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="input-username">Tür</label>
                                <div class="input-group">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radioPlan" name="planMiTarifeMi"
                                               class="custom-control-input">
                                        <label class="custom-control-label" for="radioPlan">Plan</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radioTarife" name="planMiTarifeMi"
                                               class="custom-control-input">
                                        <label class="custom-control-label" for="radioTarife">Tarife</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">
                                    Kaç gün
                                </label>
                                <input type="number" id="" class="form-control" placeholder="Örneğin: 7">
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="input-username">
                                    Başlık
                                </label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Seçiniz</option>
                                    <option>Kahvaltı</option>
                                    <option>Ara Öğün</option>
                                    <option>Öğle Yemeği</option>
                                    <option>Akşam Yemeği</option>
                                    <option>Akşam Yemeğinden Sonra</option>
                                    <option>Gece</option>
                                    <option>İçecek</option>
                                    <option>Kahvaltıdan Önce</option>
                                    <option>Kuşluk</option>
                                    <option>Saat 8:00</option>
                                    <option>Saat 10:00-10:30</option>
                                    <option>Saat 13:00</option>
                                    <option>Saat 15:00-15:30</option>
                                    <option>Saat 16:00</option>
                                    <option>Saat 19:00</option>
                                    <option>Saat 21:00-21:30</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">
                                    Bir besin maddesi veya tarife ekle
                                </label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Seçiniz</option>
                                    <option>Sofra Tuzu</option>
                                    <option>İçme Suyu</option>
                                    <option>Beyaz Ekmek</option>
                                    <option>Kepekli Ekmek</option>
                                    <option>Meyve Karışımı</option>
                                    <option>Tavuk Yumurtası</option>
                                    <option>Yoğurt</option>
                                    <option>İnek Sütü</option>
                                    <option>Kurusoğan</option>
                                    <option>Şeker</option>
                                    <option>Gülböreği</option>
                                    <option>Sütlaç</option>
                                    <option>Ekler</option>
                                    <option>İmam Bayıldı</option>
                                    <option>Çoban Salata</option>
                                    <option>Şuruplu Tatlı</option>
                                    <option>Çemen</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <div class="table-responsive">
                                    <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col" class="sort">Besin Maddesi</th>
                                                <th scope="col" class="sort">Miktar</th>
                                                <th scope="col" class="sort">Enerji</th>
                                                <th scope="col">Protein</th>
                                                <th scope="col" class="sort" data-sort="completion">Yağ</th>
                                                <th scope="col">Karbonhidrat</th>
                                                <th scope="col">Lif</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody class="list">
                                            <tr>
                                                <th scope="row">
                                                    Peynir
                                                </th>
                                                <td class="budget">
                                                    1
                                                </td>
                                                <td>
                                                    22
                                                </td>
                                                <td>
                                                    12
                                                </td>
                                                <td>
                                                    4
                                                </td>
                                                <td>
                                                    56
                                                </td>
                                                <td class="text-right">
                                                    4
                                                </td>
                                                <td>
                                                    <a href="#" class="btn btn-info">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <a href="#" class="btn btn-danger">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>



                        <div class="text-center">
                            <button type="button" class="btn btn-primary my-4">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>




        </div>

    </div>
</div>

