<div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body p-0">
            <div class="card bg-secondary border-0 mb-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <label>Lütfen gerekli alanları doldurun.</label>
                    </div>
                    <form role="form">
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Tarih</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                </div>
                                <input class="form-control datepicker" id="NotModal-Tarih" type="date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Şikayeti</label>
                            <textarea rows="4" id="NotModal-Sikayet" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Notlar</label>
                            <textarea rows="4" id="NotModal-Notlar" class="form-control"></textarea>
                        </div>
                        <div class="text-right">
                            <button type="button" id="btnNotModalEkle" class="btn btn-primary my-4">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#btnNotModalEkle').click(function () {

        var promise = new Promise(function (resolve, reject) {

            /*Validation*/

            $("#NotModal-Sikayet").val().trim() == "" ?
                $("#NotModal-Notlar").val().trim() != "" ?
                    $("#NotModal-Tarih").val() == "" ? reject("Lütfen Tarih Girin") : ""
                    : "" : ""

            $("#NotModal-Tarih").val().trim() == "" ?
                $("#NotModal-Sikayet").val().trim() == "" ?
                    $("#NotModal-Notlar").val().trim() == "" ?
                        reject("Boş Not Ekleyemezsin")
                        : "" :"":""



            /*Validation*/

            resolve();
        });

        promise.catch(function (err) {
            toastr.error(err);
        })

        promise.then(function (data) {

            var url = $('#Not').data('url');
            $.get(url, function (data) {
                $('#Not').html(data);

                $("#Not-Tarih").val($("#NotModal-Tarih").val());

                $("#Not-Sikayet").val($("#NotModal-Sikayet").val());

                $("#Not-Notlar").val($("#NotModal-Notlar").val());

                $('#modal-anket-not').modal('hide');
            });

        });

    });
</script>