<div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body p-0">
            <div class="card bg-secondary border-0 mb-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <label>Lütfen temel kişi bilgilerini doldurun.</label>
                    </div>
                    <form role="form">
                        <div class="form-group mb-3">

                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Ad</label>
                            <input type="text" id="TemelBilgiModal-ad" autocomplete="off" class="form-control" placeholder="Ad Giriniz  *">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Soyad</label>
                            <input type="text" id="TemelBilgiModal-Soyad" class="form-control" placeholder="Soyadı Giriniz  *" value="">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Doğum Tarih</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                </div>
                                <input class="form-control" id="TemelBilgiModal-DogTar" type="date">
                            </div>
                        </div>
                        <div class="form-group TemelBilgiModal-Cinsiyet">
                            <label class="form-control-label">Cinsiyet</label>
                            <div class="input-group">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="temelBilgiErkekModal" name="temelBilgiCinsiyet" value="Erkek" class="custom-control-input">
                                    <label class="custom-control-label" for="temelBilgiErkekModal">Erkek</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="temelBilgiKadinModal" name="temelBilgiCinsiyet" value="Kadın" class="custom-control-input">
                                    <label class="custom-control-label" for="temelBilgiKadinModal">Kadın</label>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Eğitim Durumu</label>
                            <select class="form-control" id="TemelBilgiModal-EgitimDur">
                                <option value="0">Eğitim Durumu Seç</option>
                                <option value="1">İlköğretim</option>
                                <option value="2">Ortaöğretim</option>
                                <option value="3">Önlisans</option>
                                <option value="4">Lisans</option>
                                <option value="5">Lisanüstü</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Yaş Grubu</label>
                            <select class="form-control" id="TemelBilgiModal-YasGrubu">
                                <option value="0">Yaş Gurubu Seç</option>
                                <option value="1">18-25</option>
                                <option value="2">25-30</option>
                                <option value="3">30-40</option>
                                <option value="4">40-50</option>
                                <option value="5">40-50</option>
                                <option value="6">50-60</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Telefon</label>
                            <input type="text" id="TemelBilgiModal-Tel" class="form-control" placeholder="Cep Telefonu Giriniz  *" value="">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">E-Posta</label>
                            <input type="email" id="TemelBilgiModal-Eposta" class="form-control" placeholder="Mail Adresi Girini  *">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">TC Kimlik No</label>
                            <input type="text" id="TemelBilgiModal-TcNo" class="form-control" placeholder="Tc Kimlik No Giriniz  *" value="">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Şehir</label>
                            <select class="form-control" id="TemelBilgiModal-Sehir">
                                <option value="0">Şehir Seç</option>
                                <option value="1">İstanbul</option>
                                <option value="2">Ankara</option>
                                <option value="3">İzmir</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label class="form-control-label">İlçe</label>
                            <select class="form-control" id="TemelBilgiModal-Ilce">
                                <option value="0">İlçe Seç</option>
                                <option value="1">Kadıköy</option>
                                <option value="2">Pendik</option>
                                <option value="3">Beşiktaş</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Adres</label>
                            <textarea id="TemelBilgiModal-Adres" rows="4" class="form-control" placeholder="Adres Girin  *"></textarea>
                        </div>
                        <div class="text-right">
                            <button type="button" id="btnTemelBilgiModalEkle" class="btn btn-primary my-4">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>

<script>
    $(function () {
        Inputmask.extendDefaults({
            'autoUnmask': true
        });
        $("#TemelBilgiModal-Tel").inputmask("0 (999) 999 99 99");
        $("#TemelBilgiModal-TcNo").inputmask("99999999999");
    })
</script>
<script>
    $('#btnTemelBilgiModalEkle').click(function () {

        
        var promise = new Promise(function (resolve, reject) {

            $("#TemelBilgiModal-ad").val().trim() == "" ? reject("Lütfen İsim Giriniz") : ""

            $("#TemelBilgiModal-Soyad").val().trim() == "" ? reject("Lütfen Soyad Giriniz") : ""

            $("#TemelBilgiModal-DogTar").val() == "" ? reject("Lütfen Doğum Tarihi giriniz") : ""

            $("#TemelBilgiModal-EgitimDur option:selected").val() == "0" ? reject("Lütfen Eğitim Durumunu giriniz") : ""

            $("#TemelBilgiModal-YasGrubu option:selected").val() == "0" ? reject("Lütfen Yaş Grubunu giriniz") : ""

            $("#TemelBilgiModal-Tel").val().trim() == "" ? reject("Lütfen Telefonu giriniz") : ""

            $("#TemelBilgiModal-Eposta").val().trim() == "" ? reject("Lütfen Eposta giriniz") : ""

            $("#TemelBilgiModal-TcNo").val().trim() == "" ? reject("Lütfen TcNo giriniz") : ""

            $("#TemelBilgiModal-Sehir option:selected").val() == "0" ? reject("Lütfen Şehir giriniz") : ""

            $("#TemelBilgiModal-Ilce option:selected").val() == "0" ? reject("Lütfen İlce giriniz") : ""

            $("#TemelBilgiModal-Adres").val().trim().trim() == "0" ? reject("Lütfen Adres Giriniz") : ""

            resolve();
        });

        promise.catch(function (err) {
            toastr.error(err);
        })

        promise.then(function (data) {

            var url = $('#kisiBilgisi').data('url');
            $.get(url, function (data) {
                $('#kisiBilgisi').html(data);

                $("#danisanBilgiTemel-Ad").val($('#TemelBilgiModal-ad').val());

                $("#danisanBilgiTemel-Soyad").val($("#TemelBilgiModal-Soyad").val());

                $("#TemelBilgiModal-DogTar").val($("#TemelBilgiModal-DogTar").val());

                $("#danisanBilgiTemel-Cinsiyet").val($('.TemelBilgiModal-Cinsiyet input[type="radio"]:checked').val());

                $("#danisanBilgiTemel-EgitimDurumu").val($("#TemelBilgiModal-EgitimDur option:selected").text());

                $("#danisanBilgiTemel-YasGrubu").val($('#TemelBilgiModal-YasGrubu option:selected').val());

                $("#danisanBilgiTemel-Tel").val($("#TemelBilgiModal-Tel").val());

                $("#danisanBilgiTemel-Email").val($('#TemelBilgiModal-Eposta').val());

                $("#danisanBilgiTemel-TcNo").val($('#TemelBilgiModal-TcNo').val());

                $("#danisanBilgiTemel-Sehir").val($('#TemelBilgiModal-Sehir option:selected').val());

                $("#danisanBilgiTemel-Ilce").val($('#TemelBilgiModal-Ilce option:selected').val());

                $("#danisanBilgiTemel-Adres").val($('#TemelBilgiModal-Adres').val());


                $('#modal-anket-temelBilgi').modal('hide');
            });

        });

    });
</script>