
@{
    ViewBag.Title = "RandevuList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">
                            <a href="#" class="btn btn-success">
                                Randevu Ekle
                            </a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <h3 class="mb-0">Randevularım</h3>
                    </div>
                    <!-- Light table -->
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="sort" data-sort="name">Ad/Soyad</th>
                                    <th scope="col" class="sort" data-sort="budget">Numara</th>
                                    <th scope="col" class="sort" data-sort="status">E-Posta</th>
                                    <th scope="col">Randevu Tarih</th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">

                                            <div class="media-body">
                                                <span class="name mb-0 text-sm">Mehmet</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="budget">
                                        (555)-888-77-66
                                    </td>
                                    <td>
                                        <span class="badge badge-dot mr-4">
                                            <i class="bg-warning"></i>
                                            <span class="status">kursad.yuca@aerotivelabs.com</span>
                                        </span>
                                    </td>
                                    <td>
                                        21.10.2020
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                <a class="dropdown-item" href="#">Düzenle</a>
                                                <a class="dropdown-item" href="#">Sil</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">

                                            <div class="media-body">
                                                <span class="name mb-0 text-sm">Gani</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="budget">
                                        (555)-888-77-66
                                    </td>
                                    <td>
                                        <span class="badge badge-dot mr-4">
                                            <i class="bg-success"></i>
                                            <span class="status">
                                                kursad.yuca@aerotivelabs.com
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        01.08.2021
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                <a class="dropdown-item" href="#">Düzenle</a>
                                                <a class="dropdown-item" href="#">Sil</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">

                                            <div class="media-body">
                                                <span class="name mb-0 text-sm">
                                                    M.Gani Tombalak
                                                </span>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="budget">
                                        (555)-888-77-66
                                    </td>
                                    <td>
                                        <span class="badge badge-dot mr-4">
                                            <i class="bg-danger"></i>
                                            <span class="status">
                                                kursad.yuca@aerotivelabs.com
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        01.08.2021
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                <a class="dropdown-item" href="#">Düzenle</a>
                                                <a class="dropdown-item" href="#">Sil</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <span class="name mb-0 text-sm">Mehmet Gani</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="budget">
                                        (555)-888-77-66
                                    </td>
                                    <td>
                                        <span class="badge badge-dot mr-4">
                                            <i class="bg-info"></i>
                                            <span class="status">
                                                kursad.yuca@aerotivelabs.com
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        01.08.2021
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                <a class="dropdown-item" href="#">Düzenle</a>
                                                <a class="dropdown-item" href="#">Sil</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">

                                            <div class="media-body">
                                                <span class="name mb-0 text-sm">M.Gani Tombalak</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="budget">
                                        (555)-888-77-66
                                    </td>
                                    <td>
                                        <span class="badge badge-dot mr-4">
                                            <i class="bg-success"></i>
                                            <span class="status"> kursad.yuca@aerotivelabs.com</span>
                                        </span>
                                    </td>
                                    <td>
                                        01.08.2021
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



